 
{% extends '_master.html' %}




{% block tcontent %}
Hire US | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}







<div class="edge " style="background-color: #f8f8f8;background-color: #fdfdfd;">
	<div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;">
		<div class="row">
			<div class="col-sm-12" style="margin: 200px 0;">
				<div class="row">
					

					<div class="col-sm-3">
					</div>
					<!-- <div class="col-sm-6" style="text-align: center;"> -->
					<div class="col-sm-6" style="text-align: center;">
						<h1 style="font-weight: bold;font-size: 100px;/* color: blue; */">
                                                                      Hire US
                                                            </h1>
                                                            <h4 style="background-color: whitesmoke;"> 
                                                                      "/client{{request.path}}"
                                                            </h4> 
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin: 100px 0;">
	</div>
</div>







{% endblock %}




