 
{% extends '_master.html' %}




{% block tcontent %}
OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}





<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0;padding: 0;/*padding-top: 12px;*/background-color: #f8f8f8;">


                    
                    
                    

                    







                    <div class="col-md-12" style="padding: 0; margin: 0; background-color: white;">

                              <div class="scrollbar-cover col-md-12" style="margin: 0; padding: 0 12px; ">

                                        <div class="scrollbar-outer">
                                                  <div class="scrollbar col-md-auto">
                                                  
                                                            <div class="scrollbar-inner">

                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/html/">
                                                                                                              HTML
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/css/">
                                                                                                              CSS
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/javascript/">
                                                                                                              Javascript
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/jquery/">
                                                                                                              jQuery
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/xml/">
                                                                                                              XML
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/jinja/">
                                                                                                              Jinja
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/c/">
                                                                                                              C
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/c/">
                                                                                                              C++
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/python/">
                                                                                                              Python
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/java/">
                                                                                                              Java
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/go/">
                                                                                                              Go
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/rust/">
                                                                                                              Rust
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/react/">
                                                                                                              React
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/bootstrap/">
                                                                                                              Bootstrap
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/django/">
                                                                                                              Django
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/django-rest-framework/">
                                                                                                              Django Rest Framework
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/sqlite/">
                                                                                                              SQLite
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/mysql/">
                                                                                                              MySQL
                                                                                                    </a>
                                                                                          </div>
                                                                      
                                                                                          <div class="scrollbar-box">
                                                                                                    <a class="scrollbar-link  " href="/articals/mongodb/">
                                                                                                              MongoDB
                                                                                                    </a>
                                                                                          </div>
                                                                      

                                                            </div>
                                                  </div>
                                        </div>
                                        <style>
                                                  .scrollbar-cover{
                                                            background-color: white; 
                                                            border: 1px solid #f0f0f0; 
                                                  }
                                                  .scrollbar-outer{
                                                            /*background-color: #f8f8f8;*/ 
                                                            /* background-color: white;  */
                                                            /* border: 1px solid #f0f0f0;  */
                                                  }
                                                  .scrollbar{
                                                            border: 1px solid #fbfbfb; 
                                                            overflow-x: auto;
                                                            padding: 2px 10px;
                                                  }
                                                  .scrollbar-inner{
                                                            /*background-color: #f8f8f8;*/ 
                                                            padding: 5px 20px; 
                                                            display: flex;  
                                                            width: max-content;
                                                  }
                                                  .scrollbar::-webkit-scrollbar{
                                                            width: 0;
                                                            height: 0;
                                                  }
                                                  .scrollbar-box{
                                                            padding: 2px;
                                                            /* margin: 0 5px;  */
                                                            margin: 0 2px; 
                                                            width: fit-content; 
                                                            border-radius: 25px; 
                                                            font-size: smaller; 
                                                            background-color: white; 
                                                            background-color: #fdfdfd; 
                                                            border: 1px solid #f8f8f8; 
                                                  }
                                                  .scrollbar-link{
                                                            border-radius: 25px; 
                                                            padding: 5px 10px; 
                                                            color: black; 
                                                            text-decoration: auto;
                                                  }
                                                  .scrollbar-link:hover{
                                                            color: white;
                                                            background-color: black;
                                                  }
                                                  .scrollbar-link.active{
                                                            color: white;
                                                            background-color: black;
                                                  }
                                        </style>
                              </div>
                              
                    </div>



 
                    




                    
                    
                    <div class="col-md-9 edge " style="background-color: white; padding: 0;">
                              <div class="row" style="background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;padding: 75px 50px;padding-bottom: 100px;">
                                        <!-- <div class="row" style="margin: 0; padding: 0;"> -->
                                                  <!-- <div class="col-sm-12"> -->
                                                            <!-- <div class="row"> -->

                                                                      <div class="content" style="font-family: math;">
								<div class="jumbotron" style="
								/* background-color: #0d6efd; */
								background-color: #fdfdfd;
                                                                                background-color: darkseagreen;
                                                                                background-color: skyblue;
								border: 1px solid #dddddd;
								padding: 50px;
								border-radius: 5px;
								/* color: white; */
								">
									<!-- <h1 class="display-4">Hello, SHivam SHukla!</h1> -->
									<!-- <h1 class="display-4">Hey, SHivam SHukla!</h1> -->
									<h1 class="display-4">Namaskar, SHivam SHukla ! </h1>
									<p class="lead">
										We're welcome you back to the 
										<a href="/explain/?keyword=SHIVASHU" style="color: darkslategray; text-decoration: auto; font-weight: bold;">SHIVASHU</a>'s
										<a href="/explain/?keyword=OpenAssistant" style="color: darkslategray; text-decoration: auto; font-weight: bold;">OpenAssistant</a>. 
										In this this world we give you a batter assistant features, 
										so that you incresses your productivity in your daily life. 
									</p>
									<hr class="my-4">
									<p>We provided you almost everything if you're a Programmer or Coder or from IT Background. To know more about given features ...</p>
									<p class="lead">
										<a class="btn btn-dark btn-lg" href="#" role="button" style="background-color: darkslategray;">Learn more</a>
									</p>
								</div>
							</div>
                                                                      
                                                            <!-- </div> -->
                                                  <!-- </div> -->
                                        <!-- </div> -->
                              </div>
                              
                    </div>

                    


                    

                    














 
                    




                    
                    
          </div>

</div>





<!-- 
<div class="edge " style="background-color: #f8f8f8;background-color: #fdfdfd;">
	<div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;">
		<div class="row">
			<div class="col-sm-12" style="margin: 200px 0;">
				<div class="row">
					

					<div class="col-sm-3">
					</div>
					<div class="col-sm-6" style="text-align: center;">
						<h1 style="font-weight: bold;font-size: 100px;/* color: blue; */">
                                                                      Home
                                                            </h1>
                                                            <h4 style="background-color: whitesmoke;"> 
                                                                      "/client{{request.path}}"
                                                            </h4> 
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin: 100px 0;">
	</div>
</div> 
-->







{% endblock %}




