 
{% extends '_master.html' %}




{% block tcontent %}
Testing@Problems | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}







<div class="edge " style="background-color: white; margin: 0; padding: 0;">

	<div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    <div class="col-md-12" style="padding: 0; margin: 0; background-color: white;">
				
			<div class="scrollbar-cover col-md-12" style="margin: 0; padding: 0 12px; ">
		
				<div class="scrollbar-outer">
					<div class="scrollbar col-md-auto">
					
						<div class="scrollbar-inner">
							
							{% for keys,values in DataSets.items %}
								{% for object in values %}
										<div class="scrollbar-box" >
											<a class="scrollbar-link  {% if request.path == object.path %} active {% endif %}" href="{{object.path}}">
												{{object.name}}
											</a>
										</div>
								{% endfor %}	
							{% endfor %}	

							<!-- 
								{% for object in scrollbar %}
									<div class="scrollbar-box" >
										<a class="scrollbar-link  {% if request.path == object.path %} active {% endif %}" href="{{object.path}}">
											{{object.name}}
										</a>
									</div>
							{% endfor %}
							-->

						</div>
					</div>
				</div>
				<style>
					.scrollbar-cover{
						background-color: white; 
						border: 1px solid #f0f0f0; 
					}
					.scrollbar-outer{
						/*background-color: #f8f8f8;*/ 
						/* background-color: white;  */
						/* border: 1px solid #f0f0f0;  */
					}
					.scrollbar{
						border: 1px solid #fbfbfb; 
						overflow-x: auto;
						padding: 2px 10px;
					}
					.scrollbar-inner{
						/*background-color: #f8f8f8;*/ 
						padding: 5px 20px; 
						display: flex;  
						width: max-content;
					}
					.scrollbar::-webkit-scrollbar{
						width: 0;
						height: 0;
					}
					.scrollbar-box{
						padding: 2px;
						/* margin: 0 5px;  */
						margin: 0 2px; 
						width: fit-content; 
						border-radius: 25px; 
						font-size: smaller; 
						background-color: white; 
						background-color: #fdfdfd; 
						border: 1px solid #f8f8f8; 
					}
					.scrollbar-link{
						border-radius: 25px; 
						padding: 5px 10px; 
						color: black; 
						text-decoration: auto;
					}
					.scrollbar-link:hover{
						color: white;
						background-color: black;
					}
					.scrollbar-link.active{
						color: white;
						background-color: black;
					}
				</style>
			</div>
		
		</div>
		
		<div class="col-md-2 edge " style="/*overflow: scroll;*/background-color: #f8f8f8;background-color: #fdfdfd;/*background-color: darkolivegreen;*/ /* margin: 0; */padding: 35px 20px;">
			<!-- <div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;"> -->
				<div class="row">
		
					
					<div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<a class="side-keys row {% if request.path == '/problems/' %} active {% endif %}" href="/problems/" style="align-items: center; font-weight: normal;">
									<i class="col-md-2 fa-solid fa-house"></i>
									<spem class="col-md-10">
										Home
									</spem>
								</a>
							</li>          
						</ul>
					</div>
		
					<hr style="margin: 0;">


					

					<hr style="margin: 0;">





                                                  {% for keys,values in sidebarleft.items %}
                                                  <div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
                                                            <ul class="list-group list-group-flush">
                    
                                                                      {% for object in values %}
                                                                      <li class="list-group-item">
                                                                                <a class="side-keys row {% if object.path in request.path %} active {% endif %}" href="{{object.path}}" style="align-items: center; font-weight: normal;">
                                                                                          <!-- <i class="col-md-2 {{object.logo}}"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-circle-info"></i> -->
                                                                                          <i class="col-md-2 fa-solid fa-code"></i>
                                                                                          <spem class="col-md-10" style="padding: 0; padding-left: 5px;">
                                                                                                    {{object.name}}
                                                                                          </spem>
                                                                                </a>
                                                                      </li>
                                                                      {% endfor %}
                    
                                                            </ul>
                                                  </div>
                    
                                                  <hr style="margin: 0;">

                                                  {% endfor %}
				
		
				</div>
                                        <style>
                                                  .list-group-item{
                                                            background-color: #fdfdfd;
                                                            padding: 5px 10px;
                                                            border: 1px solid #0000000a;
                                                  }
                                                  .side-keys{
                                                            /* padding: 0.5rem 1rem; */
                                                            text-decoration: auto;
                                                            color: unset;
                                                            font-weight: bold;
                                                            font-size: larger;
                                                            font-size: 16px;
                                                            padding: 5px;
                                                            align-items: center;
                                                  }
                                                  .side-keys:hover{
                                                            background-color: #f8f8f8; 
                                                            color: darkolivegreen;
                                                            border-radius: 50px; 
                                                  }
                                                  .side-keys.active{
                                                            background-color: darkolivegreen; 
                                                            color: #f8f8f8;
                                                            border-radius: 50px; 
                                                  }
                                                  .box{
                                                            margin: 10px;
                                                  }
                                        </style>
			<!-- </div> -->
		</div>
		
		
		
		
                    <div class="col-md-10 edge " style="/*background-color: #f8f8f8;*/ /*background-color: #fdfdfd;*/ background-color: white; padding: 0;">
                              <div style="padding: 18px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px;*/ /*border-radius: 10px;*/ padding: 40px;">
                                        <div class="row" style="margin: 0; padding: 0;">
                    
                                                  <div class="col-sm-12">
                                                            <div class="row">

                                                                      <div class="col-sm-12" style="margin: 0; margin-bottom: 12px; padding: 12px 0; border-radius: 10px;"> 
								<div class="row" style="margin: 0; padding: 0;">
									<a href="/problems/dsa-100%/" class="col-md-2" style="padding: 0 2px; text-decoration: auto;">
										<div class="sheets-box">
											<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">DSA-100%</div>
											<hr style="margin: 2px;">
											<div class="from"  style="margin: 0; font-size: small;"> SHivam SHukla </div>
										</div>
									</a>
									<a href="/problems/dsa-gurented/" class="col-md-2" style="padding: 0 2px; text-decoration: auto;">
										<div class="sheets-box">
											<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">DSA-Gurented</div>
											<hr style="margin: 2px;">
											<div class="from"  style="margin: 0; font-size: small;"> Shri SHukla </div>
										</div>
									</a>
									<a href="/problems/dsa-360/" class="col-md-2" style="padding: 0 2px; text-decoration: auto;">
										<div class="sheets-box">
											<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">DSA-360</div>
											<hr style="margin: 2px;">
											<div class="from"  style="margin: 0; font-size: small;"> Apna Collage</div>
										</div>
									</a>
									<a href="/problems/dsa-archiver/" class="col-md-2" style="padding: 0 2px; text-decoration: auto;">
										<div class="sheets-box">
											<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;"> DSA Archiver </div>
											<hr style="margin: 2px;">
											<div class="from"  style="margin: 0; font-size: small;"> Anuj Bhaiyya </div>
										</div>
									</a>
									<a href="/problems/dsa-cracker/" class="col-md-2" style="padding: 0 2px; text-decoration: auto;">
										<div class="sheets-box">
											<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;"> DSA-Cracker </div>
											<hr style="margin: 2px;">
											<div class="from"  style="margin: 0; font-size: small;"> Fraz </div>
										</div>
									</a>
									<a href="/problems/dsa-gripper/" class="col-md-2" style="padding: 0 2px; text-decoration: auto;">
										<div class="sheets-box">
											<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;"> DSA Gripper </div>
											<hr style="margin: 2px;">
											<div class="from"  style="margin: 0; font-size: small;"> Love Babbar </div>
										</div>
									</a>
									<!-- 
									<div class="col-md-3 sheets-box">
										<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">DSA-360</div>
										<hr style="margin: 2px;">
										<div class="from"  style="margin: 0; font-size: small;"> Apna Collage</div>
									</div> 
									-->
								</div>
							</div>
							<style>
								.sheets-box{
									/* width: auto; */
									/* background-color: #f8f8f8 ; */
									/* background-color: black ; */
									background-color: white;
									/* color: black; */
									/* color: white; */
									color: darkgray;
									border: 1px solid #f8f8f8;
									/* border-radius: 5px; */
									border-radius: 50px;
									text-align: center;
									/* padding: 15px; */
									padding: 10px;
									/* margin: 2px; */
								}
								.sheets-box:hover{
									background-color: #f8f8f8;
									background-color: #fdfdfd;
									color: darkolivegreen;
									/* background-color: darkolivegreen; */
									/* color: white; */
								}
								.sheets-box.active{
									background-color: darkolivegreen;
									color: white;
								}
							</style>
                    


                                                                      <div class="col-sm-12" style="margin: 0; margin-bottom: 12px; /*padding: 12px 0;*/ padding: 0; border-radius: 10px; /*border: 1px solid #e0e0e0;*/"> 
								<div class="row" style="margin: 0; padding: 0;">
									<a href="/problems/?from=all-topics" class="col-md-3" style="text-decoration: auto;">
										<div class="selections">
											All Topics
										</div>
									</a>
									<a href="/problems/?from=data-structures" class="col-md-3" style="text-decoration: auto; ">
										<div class="selections">
											Data Structures
										</div>
									</a>
									<a href="/problems/?from=algorithms" class="col-md-3" style="text-decoration: auto;">
										<div class="selections">
											Algorithms
										</div>
									</a>
									<a href="/problems/?from=database" class="col-md-3" style="text-decoration: auto;">
										<div class="selections">
											Database
										</div>
									</a>
								</div>
							</div>
							<style>
								.selections{
									text-align: center;
									font-size: larger;
									border-radius: 50px;
									border: 1px solid #e0e0e0;
									color: gray;
								}
							</style>


                                                                      <div class="col-sm-12" style="background-color: #fdfdfd; border: 1px solid #f0f0f0; margin: 20px 0; padding: 18px 20px; border-radius: 5px;"> 
                                                                                <!-- <div class="row"> -->
                                                                                          <!-- <div class="col-md-12"> -->
										<table class="table">
											<thead>
											  <tr>
											    <th scope="col">#</th>
											    <th scope="col">Problem</th>
											    <th scope="col">Action</th>
											    <th scope="col">Language</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
											    <th scope="row">1</th>
											    <td> Sum of leaf nodes in BST </td>
											    <td>solution@submit</td>
											    <td>Python</td>
											  </tr>
											  <tr>
											    <th scope="row">2</th>
											    <td> Does array represent Heap </td>
											    <td>solution@submit</td>
											    <td>C++</td>
											  </tr>
											  <tr>
											    <th scope="row">3</th>
											    <td> Find all Critical Connections in the Graph </td>
											    <!-- <td colspan="2">problem@submit</td> -->
											    <td>problem@submit</td>
											    <td>.....</td>
											  </tr>
											</tbody>
										        </table>
									<!-- </div> -->
								<!-- </div> -->
							</div>

							
                                                            </div>
                                                  </div>
                                                  
                    
                                        </div>
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>
	


		
	</div>

</div>







{% endblock %}




