 
{% extends '_master.html' %}




{% block tcontent %}
Testing Problems | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}







<div class="edge " style="background-color: #f8f8f8;background-color: #fdfdfd;">
	<div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;">
		<div class="row">
			<div class="col-sm-12" style="margin: 125px 0;">
				<div class="row">


					<div class="col-md-12">

                                                            <div class="container" style="height: 225px; width: 400px;">
                                                                      <!-- <iframe width="400" height="225" src="https://www.youtube.com/embed/jpj7hpOObLg?si=Ob_WrngjQoQDJyiG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 15px;"></iframe> -->
                                                                      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/2dv0YpNIjZU?si=TTxAO7L1tAj6lOXs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                                                                      <iframe width="400" height="225" src="https://www.youtube.com/embed/C-9dqfXENb4?si=pvQ2QU1IgOC4itQd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 15px;"></iframe>
                                                            </div>

					</div> 


				</div>
			</div>
		</div>
	</div>
	<div style="margin: 100px 0;">
	</div>
</div>







{% endblock %}




