
{% extends '_master.html' %}




{% block tcontent %}
Testing@Aadhyatm | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}







<div class="edge " style="background-color: white; margin: 0; padding: 0;">

	<div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    <div class="col-md-12" style="padding: 0; margin: 0; background-color: white;">
				
			<div class="scrollbar-cover col-md-12" style="margin: 0; padding: 0 12px; ">
		
				<div class="scrollbar-outer">
					<div class="scrollbar col-md-auto">
					
						<div class="scrollbar-inner">
							
							{% for keys,values in DataSets.items %}
								{% for object in values %}
										<div class="scrollbar-box" >
											<a class="scrollbar-link  {% if request.path == object.path %} active {% endif %}" href="{{object.path}}">
												{{object.name}}
											</a>
										</div>
								{% endfor %}	
							{% endfor %}	

						</div>
					</div>
				</div>
				<style>
					.scrollbar-cover{
						background-color: white; 
						border: 1px solid #f0f0f0; 
					}
					.scrollbar-outer{
						/*background-color: #f8f8f8;*/ 
						/* background-color: white;  */
						/* border: 1px solid #f0f0f0;  */
					}
					.scrollbar{
						border: 1px solid #fbfbfb; 
						overflow-x: auto;
						padding: 2px 10px;
					}
					.scrollbar-inner{
						/*background-color: #f8f8f8;*/ 
						padding: 5px 20px; 
						display: flex;  
						width: max-content;
					}
					.scrollbar::-webkit-scrollbar{
						width: 0;
						height: 0;
					}
					.scrollbar-box{
						padding: 2px;
						/* margin: 0 5px;  */
						margin: 0 2px; 
						width: fit-content; 
						border-radius: 25px; 
						font-size: smaller; 
						background-color: white; 
						background-color: #fdfdfd; 
						border: 1px solid #f8f8f8; 
					}
					.scrollbar-link{
						border-radius: 25px; 
						padding: 5px 10px; 
						color: black; 
						text-decoration: auto;
					}
					.scrollbar-link:hover{
						color: white;
						background-color: black;
					}
					.scrollbar-link.active{
						color: white;
						background-color: black;
					}
				</style>
			</div>
		
		</div>
		
		<div class="col-md-2 edge " style="/*overflow: scroll;*/background-color: #f8f8f8;background-color: #fdfdfd;/*background-color: darkorange;*/ /* margin: 0; */padding: 35px 20px;">
			<!-- <div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;"> -->
				<div class="row">
		
					
					<div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<a class="side-keys row {% if request.path == '/aadhyatm/' %} active {% endif %}" href="/aadhyatm/" style="align-items: center; font-weight: normal;">
									<i class="col-md-2 fa-solid fa-house"></i>
									<spem class="col-md-10">
										Home
									</spem>
								</a>
							</li>          
						</ul>
					</div>
		
					<hr style="margin: 0;">


					

					<hr style="margin: 0;">





                                                  {% for keys,values in sidebarleft.items %}
                                                  <div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
                                                            <ul class="list-group list-group-flush">
                    
                                                                      {% for object in values %}
                                                                      <li class="list-group-item">
                                                                                <a class="side-keys row {% if object.path in request.path %} active {% endif %}" href="{{object.path}}" style="align-items: center; font-weight: normal;">
                                                                                          <!-- <i class="col-md-2 {{object.logo}}"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-folder-open"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-regular fa-folder-open"></i> -->
                                                                                          <!-- <i class="fa-solid fa-book"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-wand-magic-sparkles"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-book-open-reader"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-book-open"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-person-praying"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-om"></i> -->
                                                                                          <i class="col-md-2 fa-solid fa-align-justify"></i>
                                                                                          <spem class="col-md-10" style="padding: 0; padding-left: 5px;">
                                                                                                    {{object.name}}
                                                                                          </spem>
                                                                                </a>
                                                                      </li>
                                                                      {% endfor %}
                    
                                                            </ul>
                                                  </div>
                    
                                                  <hr style="margin: 0;">

                                                  {% endfor %}
				
		
				</div>
                                        <style>
                                                  .list-group-item{
                                                            background-color: #fdfdfd;
                                                            padding: 5px 10px;
                                                            border: 1px solid #0000000a;
                                                  }
                                                  .side-keys{
                                                            /* padding: 0.5rem 1rem; */
                                                            text-decoration: auto;
                                                            color: unset;
                                                            font-weight: bold;
                                                            font-size: larger;
                                                            font-size: 16px;
                                                            padding: 5px;
                                                            align-items: center;
                                                  }
                                                  .side-keys:hover{
                                                            background-color: #f8f8f8; 
                                                            color: darkorange;
                                                            border-radius: 50px; 
                                                  }
                                                  .side-keys.active{
                                                            background-color: darkorange; 
                                                            color: #f8f8f8;
                                                            border-radius: 50px; 
                                                  }
                                                  .box{
                                                            margin: 10px;
                                                  }
                                        </style>
			<!-- </div> -->
		</div>
		
		<div class="col-md-10 edge " style="background-color: white;background-color: #ff8800bb;background-color: darkorange;/* padding: 15px; *//* height: 250px; */padding: 0;">
                              <div class="row" style="margin: 0;padding: 25px;">
                                        <div class="col-md-12" style="margin: 0px;margin-bottom: 15px;padding: 25px;border: 2px solid #ffffff45;border-radius: 10px;background-color: lightyellow;">
							<div class="row" style="margin: 0;padding: 0;color: white;color: orangered;color: darkorange;">
														<div class="col-sm-12">
							<h2 style="font-weight: bold;"> Upcoming Spiritual Event's </h2>
							</div>

							<hr style="height: 2px;">

							<div class="col-sm-12" style="margin: 0;padding: 0;/* padding: 25px 50px; *//* border-radius: 10px; *//* background-color: black; *//* background-color: #fdfdfd; *//* border: 2px solid #f8f8f8; *//* padding: 15px; *//* padding-right: 35px; */"> 
								<div class="row" style="margin: 0;padding: 0;">

									

									<a href="#" class="col-md-2" style="padding: 5px;text-decoration: auto;">
										<div class="sheets-box" style="margin:0;padding: 10px;line-height: normal;background-color: darkorange;color: white;border: 2px solid white;">
												<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">Snandan Purnima</div>
												<div class="subtitle" style="/* font-weight: bold; *//*margin: 0;*/font-size: small;/* font-style: italic; */">None</div><hr style="margin: 5px;">
												<div class="from" style="margin: 0; font-size: small;"> 24-02-2024 </div>
											</div>
									</a>
									<a href="#" class="col-md-2" style="padding: 5px;text-decoration: auto;">
										<div class="sheets-box" style="margin:0;padding: 10px;line-height: normal;background-color: darkorange;color: white;border: 2px solid white;">
												<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">Vijyaa Ekadashi</div>
												<div class="subtitle" style="/* font-weight: bold; *//*margin: 0;*/font-size: small;/* font-style: italic; */">Ekadashi</div><hr style="margin: 5px;">
												<div class="from" style="margin: 0; font-size: small;"> 06-03-2024 </div>
											</div>
									</a>
									<a href="#" class="col-md-2" style="padding: 5px;text-decoration: auto;">
										<div class="sheets-box" style="margin:0;padding: 10px;line-height: normal;">
												<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">Maha Shivratri</div>
												<div class="subtitle" style="/* font-weight: bold; *//*margin: 0;*/font-size: small;/* font-style: italic; */">Har Har Mahadev</div><hr style="margin: 5px;">
												<div class="from" style="margin: 0; font-size: small;"> 08-03-2024 </div>
											</div>
									</a>

                                    						<a href="#" class="col-md-2" style="padding: 5px;text-decoration: auto;">
										<div class="sheets-box" style="margin:0;padding: 10px;line-height: normal;">
												<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;">Aamlaki Ekadashi</div>
												<div class="subtitle" style="/* font-weight: bold; *//*margin: 0;*/font-size: small;/* font-style: italic; */">( Rangbhari Gyaarash )</div><hr style="margin: 5px;">
												<div class="from" style="margin: 0; font-size: small;"> 20-03-2024 </div>
											</div>
									</a>
									<a href="#" class="col-md-2" style="padding: 5px;text-decoration: auto;">
										<div class="sheets-box" style="margin:0;padding: 10px;line-height: normal;">
												<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;"> Holika Dahan </div>
												<div class="subtitle" style="/* font-weight: bold; *//*margin: 0;*/font-size: small;/* font-style: italic; */">( 1'day before HOLI )</div><hr style="margin: 5px;">
												<div class="from" style="margin: 0; font-size: small;"> 24-03-2024 </div>
											</div>
									</a>
									<a href="#" class="col-md-2" style="padding: 5px;text-decoration: auto;">
										<div class="sheets-box" style="margin:0;padding: 10px;line-height: normal;">
												<div class="title" style="font-weight: bold; /*margin: 0;*/ font-size: medium;"> HOLI ( Dhuredi )</div>
												<div class="subtitle" style="/* font-weight: bold; *//*margin: 0;*/font-size: small;/* font-style: italic; */"> Day of Colors </div><hr style="margin: 5px;">
												<div class="from" style="margin: 0; font-size: small;"> 25-03-2024 </div>
											</div>
									</a>
								</div>
							</div>

							<style>
								.sheets-box{
									/* width: auto; */
									/* background-color: white; */
                                                                                          /* background-color: lightyellow; */
									background-color: white;
									/* color: black; */
                                                                                          color: orangered;
									/* border: 2px solid #fbfbfb; */
									/* border: 2px solid #d0d0d0; */
									border: 2px solid #dddddd;
									border-radius: 10px;
									text-align: center;
									/* padding: 10px 5px; */
									padding: 5px;
									/* box-shadow: 0 0 5px #668800; */
									box-shadow: 0 0 5px orangered;
								}
								.sheets-box:hover{
									/* background-color: darkorange; */
									/* background-color: black; */
									/* color: white; */
                                                                                          color: white;
                                                                                          background-color: darkorange;
                                                                                          border: 2px solid #fbfbfb;
								}
								.sheets-box.active{
									/* background-color: darkorange; */
									background-color: black;
									color: white;
								}
							</style>
                    
							<!-- <hr style="margin: 25px 0;"> -->

                                                                      
							

							<!-- <hr style="margin: 20px 0;"> -->

                                                                      

							
                                                            </div>
					</div>
                                        
                                        
                              </div>
                              <style>
                                        .image-outer{
                                                  background-color: white; 
                                                  border-radius: 10px;
                                        }
                              </style>
                    </div>
                    
          </div>

</div>







{% endblock %}




