



<div class="edge" style="background-color: #0d6efd;">
	<header>
		<div class="headers" style="color: white;">
			<div class="left" style="align-items: center; align-self: center; font-weight: bold; font-size: larger;">
				<!-- <a href="/" style="align-items: center;text-decoration: none;"> -->
				<!-- <a href="/security/users-list/" style="align-items: center;text-decoration: none;"> -->
				<a href="/security/default-user/" style="align-items: center;text-decoration: none;">
					
					<div style="text-decoration: none;" class="logoplace">
						<spen style="color: #ffffff; font-size: xx-large; color: white; ">
							<!-- @theshivashu04 -->
							@theshivashu
						</spen>
					</div>
				</a>
			</div>
			<div class="mid" style="align-items: center; align-self: center;">
				<div class="flex">
					<a href="#" style="text-decoration:none">
						<div class="options">Home</div>
					</a>
					<a href="#" style="text-decoration:none">
						<div class="options">Articals</div>
					</a>
					<a href="#" style="text-decoration:none">
						<div class="options">Problems</div>
					</a>
					<a href="#" style="text-decoration:none">
						<div class="options">YouTube</div>
					</a>
					<a href="#" style="text-decoration:none">
						<div class="options">Profile</div>
					</a>
					<a href="#" style="text-decoration:none">
						<div class="options">Hire US </div>
					</a>
				</div>
			</div>


			<!-- if not values.user  -->
			{% if not request.session.user %}
				<div class="right" style="align-items: center; align-self: center;">
					<div class="flex">
						<div style="display: contents;">
							<a href="/security/login/" class="buttons active" style="margin-left: 5px;">
							Log In</a>
						</div>
						<div style="display: contents;">
							<a href="/security/signup/" class="buttons" style="margin-left: 5px;">
							Sign Up</a>
						</div>
						<div style="display: contents;">
							<a href="/security/asked-questions/" class="buttons" style="background-color: black;color: white;margin-left: 10px;padding: 10px;">
							Asked <span class="">Questions</span></a>
						</div>
						<div style="display: contents;">
							<a href="/security/users-list/" class="buttons" style="background-color: black;color: white;margin-left: 10px;padding: 10px;color: black;background-color: white;background-color: gold;">
							<span class="">USERs</span></a>
						</div>
						<!-- <div style="display: contents;">
							<a href="/security/default-user/" class="buttons" style="margin-left: 10px;padding: 10px;color: black;background-color: white;">
							<span class="">@default</span></a>
						</div> --> 
					</div>
				</div>
			{% else %}
				<div class="right" style="align-items: center;align-self: center;">
					<div class="flex">
						<!-- <div style="display: flex;"> -->

							<div class="position-relative" style="font-weight: bold;align-self: center;text-align: center;background-color: white;padding: 10px;border-radius: 15px;margin-right: 20px;">
								<a href="/notifications/">
									<i class="fa-regular fa-bell fa-xl" style="color: black;"></i>
									<!--
									<i class="fa-brands fa-whatsapp fa-xl" style="color: #00dd00;"></i>
									<i class="fa-brands fa-linkedin fa-xl" style="color: blue;"></i>
									<i class="fa-brands fa-github fa-xl" style="color: black;"></i>
									<i class="fa-brands fa-facebook fa-xl" style="color: blue;"></i>
									<i class="fa-brands fa-google fa-xl" style="color: lightgray;"></i>
									<i class="fa-brands fa-apple fa-xl" style="color: black;"></i>
									<i class="fa-brands fa-twitter fa-xl" style="color: lightskyblue;"></i>
									<i class="fa-brands fa-discor fa-xl" style="color: blue;"></i>
									<i class="fa-brands fa-youtube fa-xl" style="color: red;"></i>
									-->
								</a>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
									99+ <span class="visually-hidden">unread messages</span>
								</span>
							</div>

							<div style="font-weight: bold;align-self: center;text-align: center;/* color: #fff000; */">
								<h5 style="margin-bottom: -5px;font-weight: bold;">
									<!-- Shivam Shukla  -->
									{{ObjectUSER.FullName |default:"Developer"}}
									 <!-- ); -->
								</h5>
								<spen style="font-weight: initial; font-weight: bold; color: darkslategray; color: #234abc;">
									user@{{ObjectUSER.Username |default:"none"}} ); 
								</spen>
							</div>

							<div class="btn-group" role="group" style="background-color: white;padding: 4px;border-radius: 50px;margin-left: 5px;">
								<button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0; background-color: white; border: 0; border-radius: 50px;">
									<!-- <img src="/_static/_user/_profiles/_default.jpeg" alt="img not found" width="40" height="40" style="font-size: 12px; border-radius: 25px;"> -->
									<img src="/_uploads/{{ObjectUSER.Profile |default:'_user/_profiles/default.jpeg'}}" alt="img not found" width="40" height="40" style="font-size: 12px; border-radius: 25px;">
								</button>  
								<ul class="dropdown-menu dropdown-menu-end mt-1" style="border-radius: 5px;">
									<li><a class="dropdown-item" href="#">Profile</a></li>
									<!-- <li><a class="dropdown-item" href="#">Activity</a></li> -->
									<!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
									<!-- <li><a class="dropdown-item" href="#">Cources</a></li> -->
									<!-- <li><a class="dropdown-item" href="#">Subscriptions</a></li> -->
									<li><a class="dropdown-item" href="/notifications/">Notifications</a></li>
									<hr class="my-1">
									<li><a class="dropdown-item" href="/security/users-list/">Users List</a></li>
									<li><a class="dropdown-item" href="/security/default-user/">Default User</a></li>
									<hr class="my-1">
									<li><a class="dropdown-item" href="/security/logout/">Logout</a></li>
								</ul>
							</div>
						<!-- </div> -->
					</div>
				</div>
			{% endif %}

		</div>
	</header>
</div>




<!-- 
<div class="flex">
	1. {{request.User.username}}
	2. {{request.user.username}}
	3. {{request.User}}
	4. {{request.user}}
	5. {{request.user.first_name}} {{request.user.last_name}}
	6. {{request.user.is_authenticated}}
</div>  
-->


<div style="font-weight: bold;">
	{% if messages %}
		<ul class="messages" style="padding: 0; margin: 0;">
			{% for message in messages %}
				<!-- <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}> {{ message }}</li> -->
				<div class="alert alert-{{ message.tags }}" role="alert" style="padding: 10px 100px; border-radius: 0; margin: 2px;">
					{{message}}
				</div>
			{% endfor %}
		</ul>
	{% endif %}
	<!-- <div class="alert alert-danger" role="alert" style="padding: 10px 100px">
		This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
	</div> -->
</div>



