 
{% extends '_master.html' %}




{% block tcontent %}
Testing@ | Learnings | OpenAssistant
{% endblock %}





{% block childcontent %}





<div class="logos" style="display: none;">
          <div class="left" style="align-items: center;align-self: center;font-weight: bold;font-size: larger;display: flow;">
                    <!-- <a href="/security/default-user/"></a> -->
                    <a href="#" style="
                              align-items: center;
                              text-decoration: none;
                              display: flex;
                              place-content: center;
                              height: 100vh;                    
                    ">
                              
                              <div style="text-decoration: none;background-color: black;border: 1px solid gray; border: 1px solid lightgray; padding: 5px 5px 5px 5px;border-radius: 50px;border-top-left-radius: 5px;margin-right: 10px;" class="logoplace">
                                        <div style="/*background-color: black;*/ width: 45px;height: 45px;border-radius: 50px;text-align: center;font-size: 25px;padding: 5px 0; color: white;">OA</div>
                              </div>
                              <div style="text-decoration: none;" class="logoplace">
                                        <spen style="color: #ffffff; font-size: xx-large; font-size: 28px; color: black; ">
                                                  <!-- @theshivashu04 -->
                                                  OpenAssistant
                                        </spen>
                              </div>
                    </a>
          </div>
</div>

<style>
          .logos{
                    font-family: 'Philosopher', sans-serif;
          }
</style>



{% endblock %}




