


<div class="col-md-2 edge " style="/*overflow: scroll;*/ background-color: #f8f8f8;background-color: #fdfdfd;/* margin: 0; */padding: 10px; padding-left: 50px; width: 20%; border-right: 2px solid #f8f8f8; height: 100%;min-height: 555px;">
          <!-- <div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;"> -->
                    <div class="row row-advanced" style="margin: 0; padding: 0;">


                              <div style="padding: 15px 0;">

                              {% for heading,subheadings in Articals.SidebarLeft.dataset.items %}
                              
                              
                                      <div class="accordion" id="accordionPanelsStayOpenExample">
                                        <div class="accordion-item" style="border: 0;">
                                          <h4 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{subheadings.securedslugOfHeading}}" aria-expanded="true" aria-controls="{{subheadings.securedslugOfHeading}}" style="font-size: x-large; padding: 5px 10px; padding-bottom: 0; background-color: #fdfdfd;">
                                              {{ Articals.CenteredDetails.head.skill}} - {{heading}}
                                            </button>
                                          </h4>
                                          <div id="{{subheadings.securedslugOfHeading}}" class="accordion-collapse collapse show" style="background-color: #fdfdfd;">
                                            <div class="accordion-body">



                                                  {% for subheading,topics in subheadings.items %}
                                                      {% if subheading != 'securedslugOfHeading' %}
                                                          <div class="accordion" id="accordionPanelsStayOpenExample">
                                                            <div class="accordion-item" style="border: 0;">
                                                              <h4 class="accordion-header">
                                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{topics.securedslugOfSubheading}}" aria-expanded="true" aria-controls="{{topics.securedslugOfSubheading}}" style="font-size: large; font-size: smaller; padding: 5px 10px; padding-bottom: 0; background-color: #fdfdfd;  ">
                                                                  {{subheading}}
                                                                </button>
                                                              </h4>
                                                              <div id="{{topics.securedslugOfSubheading}}" class="accordion-collapse collapse show"  style="background-color: #fdfdfd;">
                                                                <div class="accordion-body">
                                                                  <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                                                                
                                                                  {% for topic,datasets in topics.items %}
                                                                      {% if topic != 'securedslugOfSubheading' %}
                                                                                <li class="list-group-item">
0                                                                                          <a class="side-keys row {% if datasets.path == request.path %} active {% endif %}" href="{{datasets.path}}" style="align-items: center; font-weight: normal;">
                                                                                                    <spem class="" style="padding: 0; padding-left: 5px;">
                                                                                                              <!-- - – — -->
                                                                                                              {% if datasets.path == request.path %} — {% endif %}
                                                                                                              {% if datasets.path != request.path %} – {% endif %}
                                                                                                              {{datasets.name}} 
                                                                                                    </spem>
                                                                                          </a>
                                                                                </li>
                                                                      {% endif %}
                                                                  {% endfor %}

                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                      {% endif %}
                                                  {% endfor %}



                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <!-- <hr> -->



                              {% endfor %}

                            </div>


                    </div>
                    <style>
                              .row-advanced{
                                /* scrollbar-width: thin; */
                                position: sticky;
                                top: 5rem;
                                display: block !important;
                                height: calc(100vh - 6rem);
                                height: calc(80vh - 5rem);
                                height: calc(100vh - 10rem);
                                padding-left: .25rem;
                                margin-left: -.25rem;
                                overflow-y: auto;
                                overflow-x: hidden;
                              }
                              .accordion-item {
                                background-color: #fdfdfd;
                                border: 1px solid rgba(0, 0, 0, .125);
                            }
                              




                              .accordion-body {
                                        /* padding: 1rem 1.25rem; */
                                        /* padding: 5px 10px; */
                                        padding: 0;
                                        margin: 5px 12px;
                                        border-left: 2px solid #e0e0e0;
                              }
                              /* this below 2 function is responsible for hide signs with headings and subheadings ..... */ 
                              .accordion-button:not(.collapsed)::after {
                                        background-image: none;
                                        transform: rotate(-180deg);
                                        transform: none;
                              }
                              .accordion-button::after {
                                        background-image: none;
                              }
                              .accordion-button:focus {
                                        /* z-index: 3; */
                                        border-color: #fdfdfd;
                                        /* outline: 0; */
                                        box-shadow: none;
                              }
                              .accordion-button:not(.collapsed) {
                                        /* color: #0c63e4; */
                                        color: black;
                                        /* background-color: #e7f1ff; */
                                        /* box-shadow: inset 0 -1px 0 rgba(0,0,0,.125); */
                                        box-shadow: none;
                                        /* font-weight: bold; */
                              }


                              .list-group-item {
                                        margin: 0; 
                                        padding: 0 10px; 
                                        background-color: #fdfdfd; 
                                        border: none; 
                                        /* padding: 5px 10px;
                                        margin: 2px 5px;
                                        margin: 0 5px; */
                              }
                              .side-keys{
                                        /* padding: 0.5rem 1rem; */
                                        text-decoration: auto;
                                        color: unset;
                                        font-weight: bold;
                                        font-size: larger;
                                        font-size: 16px;
                                        padding: 0 5px;
                                        align-items: center;
                              }
                              .side-keys:hover{
                                        /* background-color: #f8f8f8;  */
                                        /* background-color: #fdfdfd;  */
                                        color: #0077bb;
                                        border-radius: 50px; 
                              }
                              .side-keys.active{
                                        /* background-color: #0077bb;  */
                                        /* color: #f8f8f8; */
                                        color: #0077bb; 
                                        border-radius: 50px; 
                              }
                              .box{
                                        margin: 10px;
                              }
                    </style>
                    
                    {% if not Articals.SidebarLeft.active %}
                    <style>
                      
                      .accordion-item:first-of-type .accordion-button {
                          /* border-top-left-radius: calc(.25rem - 1px); */
                          /* border-top-right-radius: calc(.25rem - 1px); */
                          color: lightgray;
                      }
                      .side-keys {
                          color: lightgray;
                      }
                      .side-keys:hover {
                          color: lightgray;
                      }

                    </style>
                    {% endif%}
          <!-- </div> -->
</div>