

<!-- {{sidebarleft}} -->
<!-- {{Articals.SidebarLeft}} -->


<div class="col-md-2 edge " style="/*overflow: scroll;*/ background-color: #f8f8f8;background-color: #fdfdfd;/* margin: 0; */padding: 35px 20px;

flex: 0 0 25%;
				transition: transform 0.5s ease-in-out;
				background-color: #fbfbfb;
				border-right: 2px solid #f4f4f4;
				display: flex;
				justify-content: center;">
          <!-- <div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;"> -->
                    <div class="row">


                              {% for keys,values in Articals.SidebarLeft.items %}

                              <!-- 
                              <div style="text-transform: uppercase; font-weight: bold; padding: 5px 25px; font-size: large; background-color: beige;">
                                        {{keys}}
                              </div> 
                              -->

                              <div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
                                        <ul class="list-group list-group-flush">

                                                  {% for object in values %}
                                                  <li class="list-group-item">
                                                            <a class="side-keys row {% if object.path in request.path %} active {% endif %}" href="{{object.path}}" style="align-items: center; font-weight: normal;">
                                                                      <!-- <i class="col-md-2 {{object.logo}}"></i> -->
                                                                      <!-- <i class="col-md-2 fa-solid fa-circle-info"></i> -->
                                                                      <i class="col-md-2 fa-solid fa-book"></i>
                                                                      <spem class="col-md-10" style="padding: 0; padding-left: 5px;">
                                                                                <!-- {{object.name}} -->
                                                                      </spem>
                                                            </a>
                                                  </li>
                                                  {% endfor %}

                                        </ul>
                              </div>

                              <hr style="margin: 0;">

                              {% endfor %}

                    

                    </div>

                    
                    <style>
                              .list-group-item{
                                        background-color: #fdfdfd;
                                        padding: 5px 10px;
                                        /* padding: 2px 5px; */
                                        border: 1px solid #0000000a;
                              }
                              .side-keys{
                                        /* padding: 0.5rem 1rem; */
                                        text-decoration: auto;
                                        color: unset;
                                        font-weight: bold;
                                        font-size: larger;
                                        font-size: 16px;
                                        padding: 5px;
                                        align-items: center;
                              }
                              .side-keys:hover{
                                        background-color: #f8f8f8; 
                                        color: #0077bb;
                                        border-radius: 50px; 
                              }
                              .side-keys.active{
                                        background-color: #0077bb; 
                                        color: #f8f8f8;
                                        border-radius: 50px; 
                              }
                              .box{
                                        margin: 10px;
                              }


/* .list-item:hover .full-text {
  display: block;
} */

                    </style>
          <!-- </div> -->
</div>