

<!-- {{sidebarleft}} -->
<!-- {{Articals.SidebarLeft}} -->


<div class="col-md-2 edge " style="/*overflow: scroll;*/ background-color: #f8f8f8;background-color: #fdfdfd;/* margin: 0; */padding: 35px 20px;">
          <!-- <div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;"> -->
                    <div class="row">


                              {% for heading,subheadings in Articals.SidebarLeft.items %}

                              <!-- 
                              <div style="text-transform: uppercase; font-weight: bold; padding: 5px 25px; font-size: large; background-color: beige;">
                                        {{keys}}
                              </div> 
                              -->

                              <div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
                                        
                                        <ul class="list-group list-group-flush">
                                                  <h4>{{heading}}</h4>
                                                  
                                                  {% for subheading,topics in subheadings.items %}
                                                  <li class="list-group-item">
                                                            <ul class="list-group list-group-flush">
                                                                      <h5>{{subheading}}</h5>

                                                                      {% for topic in topics %}
                                                                      <li class="list-group-item">
                                                                                <a class="side-keys row {% if object.path in request.path %} active {% endif %}" href="{{topic.path}}" style="align-items: center; font-weight: normal;">
                                                                                          <spem class="" style="padding: 0; padding-left: 5px;">
                                                                                                    {{topic.name}}
                                                                                          </spem>
                                                                                </a>
                                                                      </li>
                                                                      {% endfor %}

                                                            </ul>
                                                  </li>
                                                  {% endfor %}

                                        </ul>
                              </div>

                              <hr style="margin: 0;">

                              {% endfor %}

                    

                    </div>
                    <style>
                              .list-group-item {
                                        padding: 5px 10px;
                                        margin: 2px 5px;
                                        margin: 0 5px;
                              }
                              .side-keys{
                                        /* padding: 0.5rem 1rem; */
                                        text-decoration: auto;
                                        color: unset;
                                        font-weight: bold;
                                        font-size: larger;
                                        font-size: 16px;
                                        padding: 0 5px;
                                        align-items: center;
                              }
                              .side-keys:hover{
                                        background-color: #f8f8f8; 
                                        background-color: #fdfdfd; 
                                        color: #0077bb;
                                        border-radius: 50px; 
                              }
                              .side-keys.active{
                                        background-color: #0077bb; 
                                        color: #f8f8f8;
                                        border-radius: 50px; 
                              }
                              .box{
                                        margin: 10px;
                              }
                    </style>
          <!-- </div> -->
</div>