 
{% extends '_master.html' %}




{% block tcontent %}
Testing@ | Learnings | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}






<!-- <div class="col-md-12" style="margin: 0; padding: 0;"></div> -->

<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    
                    
                    

                    {% include 'thelearnings/client/scrollbar.html' %} 
                    


                    {% include 'thelearnings/client/sidebar-left-skills.html' %} 


                    
                    
                    
                    <!-- <div class="col-md-10 edge " style="background-color: #fefefe; width: 80%; padding: 10px 35px; padding-right: 50px; /*font-size: larger;*/ /*font-family: math;*/ font-family:  Noto Serif;"> -->
                    <div class="col-md-10 edge " style="background-color: #fefefe; padding: 10px 35px; padding-right: 50px; /*font-size: larger;*/ /*font-family: math;*/ font-family:  Noto Serif;            width: 75%; ">
                              <!-- <div style=""> -->
                                        <div class="row row-advanced" style="margin: 0; padding: 0;">
                                                  

                                                  {% if Articals.CenteredDetails.topic %}

                                                  <div class="col-sm-12" style="padding: 15px 0; /*font-family: Noto Serif;*/">
                                                            <div class="head" style="margin-bottom: 45px; /*font-family: Philosopher;*/">
                                                                      
                                                                      <div class="head d-flex" style="/*place-items: center;*/">
                                                                                <div>
                                                                                          <!-- <h1 style="margin: 0;">
                                                                                                    <span>{{Articals.CenteredDetails.head.skill}}'s
                                                                                                              {{Articals.CenteredDetails.head.heading}}</span>
                                                                                                    —
                                                                                                    <span>{{Articals.CenteredDetails.head.subheading}}</span>
                                                                                                    —
                                                                                                    <span>{{Articals.CenteredDetails.head.topic}}</span>
                                                                                          </h1> -->
                                                                                          
                                                                                          <h1 style="margin: 0;">
                                                                                                    <span>{{Articals.CenteredDetails.head.skill}}'s
                                                                                                              {{Articals.CenteredDetails.head.subheading}}</span>
                                                                                                    —
                                                                                                    <span>{{Articals.CenteredDetails.head.topic}}</span>
                                                                                          </h1>

                                                                                          <div class="basics" style="color: #b4b4b4;/*background-color: white;*/font-size: 18px; /*font-weight: bold;*/">
                                                                                                    <spen> 
                                                                                                              {{Articals.CenteredDetails.head.user}}
                                                                                                    </spen>
                                                                                                    <spen> • </spen>
                                                                                                    <spen>
                                                                                                              {{Articals.CenteredDetails.head.date}}
                                                                                                    </spen>
                                                                                                    <spen> • </spen>
                                                                                                    <spen> 
                                                                                                              {{Articals.CenteredDetails.head.day}}
                                                                                                    </spen>
                                                                                                    <spen> • </spen>
                                                                                                    <spen> 
                                                                                                              Updated {{Articals.CenteredDetails.head.ago}}
                                                                                                    </spen>
                                                                                          </div>
                                                                                </div>
                                                                                
                                                                                <div class="d-flex ms-auto" style="/* height: 61px; */">          
                                                                                          <a target="_blank" id="myLink2" onclick="document.getElementById('cke_90').click()" class="btn btn-light" style="align-content: center;/*align-self: center;*/margin-right: 5px; color: blue;" 
                                                                                                    href="http://localhost:1234/admin/theLearnings/topic/{{Articals.CenteredDetails.topic.id}}/change/">
                                                                                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                                                                          </a>
                                                                                          <a target="_blank" id="myLink2" onclick="document.getElementById('cke_90').click()" class="btn btn-light" style="align-content: center;/*align-self: center;*/margin-right: 5px; color: red;" 
                                                                                                    href="http://localhost:1234/admin/theLearnings/topic/{{Articals.CenteredDetails.topic.id}}/delete/">
                                                                                                    <i class="fa-solid fa-trash fa-lg"></i>
                                                                                          </a>
                                                                                </div>
                                                                                <!--
                                                                                <div class="basics" style="color: #939393;/*background-color: white;*/font-size: 15px; font-weight: bold;">
                                                                                          <spen> 
                                                                                                    {{Articals.CenteredDetails.head.user}}
                                                                                          </spen>
                                                                                          <spen> • </spen>
                                                                                          <spen>
                                                                                                    {{Articals.CenteredDetails.head.date}}
                                                                                          </spen>
                                                                                          <spen> • </spen>
                                                                                          <spen> 
                                                                                                    {{Articals.CenteredDetails.head.day}}
                                                                                          </spen>
                                                                                          <spen> • </spen>
                                                                                          <spen> 
                                                                                                    {{Articals.CenteredDetails.head.ago}}
                                                                                          </spen>
                                                                                </div>
                                                                                -->
                                                                      </div>

                                                                      <hr style="height: 10px; height: 2px; color: #dbdbdb; border-radius: 15px;">

                                                            </div>
                                                            
                                                            <div class="content">
                                                            {{Articals.CenteredDetails.topic.content  | safe}}
                                                            </div>

                                                  </div>


                                                  <style>

                                                            .content p{
                                                                      margin-bottom: 10px;
                                                                      font-size: large;
                                                            }
                                                            
                                                            .content div p{
                                                                      margin: 0;
                                                                      font-size: medium;
                                                            }

                                                            div ol li{
                                                                      margin-top: 10px;
                                                            }
                                                            div ol li ul li{
                                                                      margin: 0;
                                                            }

                                                            .content div{

                                                                      margin-top: -10px !important;
                                                                      margin-bottom: 15px;
                                                                      border-radius: 5px;

                                                                      background: #fbfbfb !important;
                                                                      border: 1px solid #f0f0f0 !important;
                                                                      line-height: normal !important;
                                                                      padding: 20px 10px !important;

                                                            }

                                                            .content div div{
                                                                      margin: 0;
                                                                      border-radius: 5px;
                                                                      font-size: smaller;
                                                            }

                                                            .content div div p{
                                                                      font-size: larger;
                                                            }



                                                            /* TABLE - DEFAULT  */

                                                            .content table{
                                                                      width: auto !important;
                                                            }

                                                            .content table,th,td{
                                                                      border: 1px solid black;
                                                                      border-collapse: collapse;
                                                                      padding: 10px;
                                                            }


                                                  </style>

                                                  {% else %}

                                                  <div class="col-sm-12" style="margin: 180px 0;text-align: center; ">
                                                            <!-- <div class="row"> -->
                                                                      
                    
                                                                      <!-- <div class="col-sm-3"></div> -->
                                                                      <!-- <div class="col-sm-6" style="text-align: center;"> -->
                                                                      <!-- <div class="col-sm-6" style=""> -->
                                                                                <h1 style="font-weight: bold;font-size: 100px;/* color: blue; */">
                                                                                          {{ Articals.CenteredDetails.head.skill}}
                                                                                </h1>
                                                                                <!-- <span style="color: red;">Sorry, this skill has no learnings materials for now.</span> -->
                                                                                <h4 style="background-color: whitesmoke;"> 
                                                                                          "{{request.path}}"
                                                                                </h4> 
                                                                      <!-- </div> -->
                                                                      <!-- <div class="col-sm-3"></div> -->
                                                            <!-- </div> -->
                                                  </div>
                                                  
                                                  {% endif %}
                                                  
                    
                                        </div>
                              <!-- </div> -->
                              <!-- 
                              <div style="margin: 100px 0;">
                              </div> 
                              -->
                    </div>
                    
                    


                    <!-- {% include 'thelearnings/client/related-articals.html' %}  -->
                    

          </div>

</div>





{% endblock %}




