 
{% extends '_master.html' %}




{% block tcontent %}
Testing@ | Learnings | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}






<!-- <div class="col-md-12" style="margin: 0; padding: 0;"></div> -->

<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    
                    
                    

                    {% include 'thelearnings/client/scrollbar.html' %} 
                    


                    {% include 'thelearnings/client/sidebar-left-skills.html' %} 


                    
                    
                    
                    <div class="col-md-10 edge " style="/*background-color: #f8f8f8;*/ background-color: #fefefe; /*background-color: white;*/ padding: 0; width: 80%;">
                              <div style="padding: 18px;/*background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;*//* padding: 50px 25px;*/ /*border-radius: 10px;*/ padding: 40px;">
                                        <div class="row" style="margin: 0; padding: 0;">
                    
                                                  <div class="col-sm-12">

                                                            {{Articals.CenteredDetails.title}}

                                                            {{Articals.CenteredDetails.content  | safe}}

                                                            <!-- <div class="row"> -->
                                                                      <!-- <div class="col-sm-12" style="background-color: #fdfdfd; border: 1px solid #f0f0f0; /*margin: 10px 0;*/ margin: 0; margin-bottom: 12px; padding: 18px 20px; /*padding: 15px 25px;*/ border-radius: 10px;">  -->
                                                                      <!-- </div> -->
                                                            <!-- </div> -->
                                                                                

                                                  </div>

                                                  <style>

                                                            p{
                                                                      margin-bottom: 10px;
                                                            }

                                                            div ol li{
                                                                      margin-top: 8px;
                                                            }


                                                  </style>
                                                  
                    
                                        </div>
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>
                    
                    


                    <!-- {% include 'thelearnings/client/related-articals.html' %}  -->
                    

          </div>

</div>





{% endblock %}




