 
{% extends '_master.html' %}




{% block tcontent %}
Testing@ | Learnings | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}







<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    
                    
                    

                    {% include 'thelearnings/client/scrollbar.html' %} 
                    


                    {% include 'thelearnings/client/sidebar-left-skills.html' %} 


                    
                    
                    
                    <!-- <div class="col-md-10 edge " style="background-color: #fefefe; width: 80%; padding: 10px 35px; padding-right: 50px; /*font-size: larger;*/ /*font-family: math;*/ font-family:  Noto Serif;"> -->
                    <div class="col-md-10 edge " style="background-color: #fefefe; padding: 10px 35px; padding-right: 50px; /*font-size: larger;*/ /*font-family: math;*/ font-family:  Noto Serif;            width: 75%; ">
                              <!-- <div style=""> -->
                                        <div class="row row-advanced" style="margin: 0; padding: 0;">
                                                  


                                                  <div class="update-articles col-sm-12" style="margin: 180px 0; /*text-align: center; */">
                                                            
                                                            
                                                            <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
                                                                      {% csrf_token %}
                                                                                {{forms.media}}
                                                                                {{forms.as_p}}
                                                                      <input type="submit" value="Submit">
                                                            </form>


                                                  </div>

                                                  <style>
                                                            .update-articles form > p label{
                                                              /* width: 20%; */
                                                              width: 14%;
                                                              vertical-align: top;    
                                                              font-weight: 500;                                                              
                                                              /* margin-bottom: 0.2rem; */
                                                              padding: 5px 0;
                                                            }
                                                            
                                                            /* .update-articles form> div, */
                                                            .update-articles form > p select, 
                                                            .update-articles form > p input,
                                                            .update-articles form > p textarea{
                                                                      width: 85%;
                                                                      /* width: 100%; */
                                                                      border-radius: 5px;
                                                                      padding: 5px 10px;
                                                                      border: 1px solid gray;
                                                                      height: 35px;
                                                                      border: 1px solid lightgray;
                                                                      font-weight: 300;
                                                            }
                                                            
                                                            /* .update-articles p {
                                                              display: flex; Make each paragraph a flex container
                                                            } */

                                                            .update-articles textarea{
                                                              height: 100px !important;
                                                            }

                                                            .update-articles p{
                                                                margin-top: 0;
                                                                margin-bottom: 2rem;
                                                            }


                                                            .update-articles form > div{                                                              
                                                                margin-bottom: 2rem;
                                                            }
                                                            p:has(+div){
                                                              margin-bottom: 0.2rem !important;
                                                            }



                                                            .update-articles form > input[type=submit] {
                                                              background-color: #2d2d2d;
                                                              /* background-color: black; */
                                                              color: white;
                                                              font-weight: bolder;
                                                              padding: 10px 250px;
                                                              width: -webkit-fill-available;
                                                              border-radius: 10px;
                                                              border: 2px solid lightgray;
                                                              margin: 75px 0;
                                                            }

                                                            
                                                            /* .update-articles form > p select:focus{ */
                                                            select:focus{
                                                                border: 1px solid lightgray !important;
                                                            }

                                                            .update-articles form > p select:focus, 
                                                            .update-articles form > p input:focus,
                                                            .update-articles form > p textarea:focus{                                                                
                                                                border: 1px solid lightgray;
                                                            }
                                                            

                                                  </style>
                                                  

                                                  
                    
                                        </div>
                              <!-- </div> -->
                    </div>
                    
                    


                    <!-- {% include 'thelearnings/client/related-articals.html' %}  -->
                    

          </div>

</div>





{% endblock %}








