 
{% extends '_master.html' %}




{% block tcontent %}
Write2@Articals | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}






<!-- <div class="col-md-12" style="margin: 0; padding: 0;"></div> -->

<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    
                    
                    

                    {% include 'thearticals/client/scrollbar.html' %} 
                    




                    
                    
                    <div class="col-md-9 edge " style="background-color: white; padding: 0;">
                              <div class="row" style="padding: 18px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white; padding: 40px;">
                                        <!-- <div class="row" style="margin: 0; padding: 0;"> -->
                    
                                                  <!-- <div class="col-sm-12"> -->
                                                            <!-- <div class="row"> -->

                                                                      <div class="content">
                                                                                
                                                                                <h2>{{Articals.slug}}</h2>
                                                                                <span>  {{Articals.slug}}  </span>


                                                                      </div>
                                                                      
                                                            <!-- </div> -->
                                                  <!-- </div> -->
                                                  
                    
                                        <!-- </div> -->
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>

                    


                    

                    {% include 'thearticals/client/articals-add-options.html' %} 
                    




                    
                    
          </div>

</div>





{% endblock %}




