 
{% extends '_master.html' %}




{% block tcontent %}
Testing@Articals | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}






<!-- <div class="col-md-12" style="margin: 0; padding: 0;"></div> -->

<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    <div class="col-md-12" style="padding: 0; margin: 0; background-color: white;">

                              <div class="scrollbar-cover col-md-12" style="margin: 0; padding: 0 12px; ">

                                        <div class="scrollbar-outer">
                                                  <div class="scrollbar col-md-auto">
                                                  
                                                            <div class="scrollbar-inner">

                                                                      {% for object in scrollbar %}
                                                                                          <div class="scrollbar-box" >
                                                                                                    <a class="scrollbar-link  {% if request.path == object.path %} active {% endif %}" href="{{object.path}}">
                                                                                                              {{object.name}}
                                                                                                    </a>
                                                                                          </div>
                                                                      {% endfor %}

                                                            </div>
                                                  </div>
                                        </div>
                                        <style>
                                                  .scrollbar-cover{
                                                            background-color: white; 
                                                            border: 1px solid #f0f0f0; 
                                                  }
                                                  .scrollbar-outer{
                                                            /*background-color: #f8f8f8;*/ 
                                                            /* background-color: white;  */
                                                            /* border: 1px solid #f0f0f0;  */
                                                  }
                                                  .scrollbar{
                                                            border: 1px solid #fbfbfb; 
                                                            overflow-x: auto;
                                                            padding: 2px 10px;
                                                  }
                                                  .scrollbar-inner{
                                                            /*background-color: #f8f8f8;*/ 
                                                            padding: 5px 20px; 
                                                            display: flex;  
                                                            width: max-content;
                                                  }
                                                  .scrollbar::-webkit-scrollbar{
                                                            width: 0;
                                                            height: 0;
                                                  }
                                                  .scrollbar-box{
                                                            padding: 2px;
                                                            /* margin: 0 5px;  */
                                                            margin: 0 2px; 
                                                            width: fit-content; 
                                                            border-radius: 25px; 
                                                            font-size: smaller; 
                                                            background-color: white; 
                                                            background-color: #fdfdfd; 
                                                            border: 1px solid #f8f8f8; 
                                                  }
                                                  .scrollbar-link{
                                                            border-radius: 25px; 
                                                            padding: 5px 10px; 
                                                            color: black; 
                                                            text-decoration: auto;
                                                  }
                                                  .scrollbar-link:hover{
                                                            color: white;
                                                            background-color: black;
                                                  }
                                                  .scrollbar-link.active{
                                                            color: white;
                                                            background-color: black;
                                                  }
                                        </style>
                              </div>
                              
                    </div>
                              
                    <div class="col-md-2 edge " style="/*overflow: scroll;*/ background-color: #f8f8f8;background-color: #fdfdfd;/* margin: 0; */padding: 35px 20px;">
                              <!-- <div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;"> -->
                                        <div class="row">
                    
                                                  
                                                  <div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
                                                            <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                                <a class="side-keys row {% if request.path == '/articals/' %} active {% endif %}" href="/articals/" style="align-items: center; font-weight: normal;">
                                                                                          <i class="col-md-2 fa-solid fa-house"></i>
                                                                                          <spem class="col-md-10">
                                                                                                    Home
                                                                                          </spem>
                                                                                </a>
                                                                      </li>          
                                                                      <li class="list-group-item">
                                                                                <a class="side-keys row {% if request.path == '/articals/write/' %} active {% endif %}" href="/articals/write/" style="align-items: center; font-weight: normal;">
                                                                                          <i class="col-md-2 fa-solid fa-house"></i>
                                                                                          <spem class="col-md-10">
                                                                                                    Write
                                                                                          </spem>
                                                                                </a>
                                                                      </li>        
                                                            </ul>
                                                  </div>
                    
                                                  <hr style="margin: 0;">

                                                  {% for keys,values in sidebarleft.items %}
                                                  <div class="col-md-12" style="padding: 10px;/* padding-top: 25px; */">
                                                            <ul class="list-group list-group-flush">
                    
                                                                      {% for object in values %}
                                                                      <li class="list-group-item">
                                                                                <a class="side-keys row {% if object.path in request.path %} active {% endif %}" href="{{object.path}}" style="align-items: center; font-weight: normal;">
                                                                                          <!-- <i class="col-md-2 {{object.logo}}"></i> -->
                                                                                          <!-- <i class="col-md-2 fa-solid fa-circle-info"></i> -->
                                                                                          <i class="col-md-2 fa-solid fa-book"></i>
                                                                                          <spem class="col-md-10" style="padding: 0; padding-left: 5px;">
                                                                                                    {{object.name}}
                                                                                          </spem>
                                                                                </a>
                                                                      </li>
                                                                      {% endfor %}
                    
                                                            </ul>
                                                  </div>
                    
                                                  <hr style="margin: 0;">

                                                  {% endfor %}
                    
                                        
                    
                                        </div>
                                        <style>
                                                  .list-group-item{
                                                            background-color: #fdfdfd;
                                                            padding: 5px 10px;
                                                            border: 1px solid #0000000a;
                                                  }
                                                  .side-keys{
                                                            /* padding: 0.5rem 1rem; */
                                                            text-decoration: auto;
                                                            color: unset;
                                                            font-weight: bold;
                                                            font-size: larger;
                                                            font-size: 16px;
                                                            padding: 5px;
                                                            align-items: center;
                                                  }
                                                  .side-keys:hover{
                                                            background-color: #f8f8f8; 
                                                            color: rebeccapurple;
                                                            border-radius: 50px; 
                                                  }
                                                  .side-keys.active{
                                                            background-color: rebeccapurple; 
                                                            color: #f8f8f8;
                                                            border-radius: 50px; 
                                                  }
                                                  .box{
                                                            margin: 10px;
                                                  }
                                        </style>
                              <!-- </div> -->
                    </div>
                    

                    
                    
                    <div class="col-md-7 edge " style="/*background-color: #f8f8f8;*/ /*background-color: #fdfdfd;*/ background-color: white; padding: 0;">
                              <div style="padding: 18px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px;*/ /*border-radius: 10px;*/ padding: 40px;">
                                        <div class="row" style="margin: 0; padding: 0;">
                    
                                                  <div class="col-sm-12">
                                                            <div class="row">
                    
                                                                      {% for object in sidebarright %}
                    
                                                                      <div class="col-sm-12" style="background-color: #fdfdfd; border: 1px solid #f0f0f0; /*margin: 10px 0;*/ margin: 0; margin-bottom: 12px; padding: 18px 20px; /*padding: 15px 25px;*/ border-radius: 10px;"> 
                                                                                <div class="row">
                                                                                          <div class="col-md-12">
                                                                                                    <div class="artical-heading" style="line-height: normal;">
                                                                                                              <div class="title" style="font-weight: bold;font-size: 24px;">
                                                                                                                        <a class="title" href="{{object.path}}" style="color: rebeccapurple; text-decoration: auto;"> 
                                                                                                                                  <!-- | • ◦ ● -->
                                                                                                                                  {{object.name}}
                                                                                                                        </a>
                                                                                                              </div>
                                                                                                              <div class="basics" style="color: #939393;/*background-color: white;*/font-size: 15px; font-weight: bold;">
                                                                                                                        <spen> 
                                                                                                                                            SHivam SHukla (theshivashu)
                                                                                                                        </spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen>
                                                                                                                                  17-02-2024 
                                                                                                                        </spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen> Saturday </spen>
                                                                                                              </div>
                                                                                                    </div>
                                                                                                    <div class="artical-content" style="line-height: normal;">
                                                                                                              <div class="data" style="color: #606060;/*font-weight: bold;*/padding-top: 10px;padding-bottom: 5px;font-size: 14px;"> 
                                                                                                                        <span style="/*font-size: 15px;*/ /*color: black;*/ font-weight: bold;"> Important on Artical : </span>
                                                                                                                        ... LTS is short for "Long Term Support", a software lifecycle term 
                                                                                                                        that denotes a release as stable and officially maintained for a long period of time. 
                                                                                                                        While regular updates will be part of releases we ship to the current version of Font Awesome, 
                                                                                                                        LTS versions will be focused on dependability and stability and not regularly updated. 
                                                                                                                        ... <span style="color: lightgray;">...more</span>
                                                                                                              </div>
                                                                                                              
                                                                                                              <div class="basics" style="color: #ababab;/*background-color: white;*/font-size: 15px;/*font-weight: bold;*/">
                                                                                                                        <spen> 4 days ago</spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen>198k Views</spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen>74k Likes</spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen>2.6k Comments</spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen>197 Reports</spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen>593 Suggestions</spen>
                                                                                                                        <spen> • </spen>
                                                                                                                        <spen>2.6k Varify</spen>
                                                                                                              </div>
                                                                                                    </div>
                                                                                          </div>
                                                                                          <!-- 
                                                                                          <div class="col-md-3">
                                                                                                    ?
                                                                                          </div> 
                                                                                          -->
                                                                                </div>
                                                                      </div>
                                                                      
                    
                                                                      {% endfor %} 
                                                            </div>
                                                  </div>
                                                  
                    
                                        </div>
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>

                    <div class="col-md-3 edge " style="background-color: #f8f8f8; background-color: #fbfbfb;">
                              <div class="articals-right" style="padding: 25px 10px;">
                                                                                                    <div class="explore" style="font-size: 38px; text-align: center; color: #8d8d8d;">
                                                                                                              Recent Articals
                                                                                                              <hr class="my-3">
                                                                                                    </div>
                                                                                                    <div class="recommendation" style="padding: 20px 10px;">
                                                                                                              <div style="padding: 12px 0;">
                                                                                                                        <ul class="list-group list-group-flush">

                                                                                                                                  {% for object in Articals.RecentArticalsList %}
                                                                                                                                  <li class="list-group-item sidebar-right">
                                                                                                                                            <a class="side-keys row" href="/articals/open/{{object.slug}}/" class="row" style="align-items: center; font-weight: normal;">
                                                                                                                                                      <spem>
                                                                                                                                                                {{object.title}} 
                                                                                                                                                      </spem>
                                                                                                                                            </a>
                                                                                                                                  </li>
                                                                                                                                  {% endfor %}
                                                                                
                                                                                                                        </ul>
                                                                                                                                  <style>
                                                                                                                                            .sidebar-right{
                                                                                                                                                      /* background-color: #fbfbfb; */
                                                                                                                                                      background-color: #fbfbfb;
                                                                                                                                                      color: #8d8d8d;
                                                                                                                                                      padding: 5px 20px;
                                                                                                                                                      padding: 0 5px;
                                                                                                                                            }
                                                                                                                                            .sidebar-right.disabled{
                                                                                                                                                      background-color: #fafafa;
                                                                                                                                                      color: #d8d8d8;
                                                                                                                                            }
                                                                                                                                  </style>
                                                                                                              </div>
                                                                                                    </div>
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>
                    
                    
          </div>

</div>





{% endblock %}




