 
{% extends '_master.html' %}




{% block tcontent %}
Testing@Articals | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}






<!-- <div class="col-md-12" style="margin: 0; padding: 0;"></div> -->

<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    <div class="col-md-12" style="padding: 0; margin: 0; background-color: white;">

                              <div class="scrollbar-cover col-md-12" style="margin: 0; padding: 0 12px; ">

                                        <div class="scrollbar-outer">
                                                  <div class="scrollbar col-md-auto">
                                                  
                                                            <div class="scrollbar-inner">

                                                                      {% for object in scrollbar %}
                                                                                          <div class="scrollbar-box" >
                                                                                                    <a class="scrollbar-link  {% if request.path == object.path %} active {% endif %}" href="{{object.path}}">
                                                                                                              {{object.name}}
                                                                                                    </a>
                                                                                          </div>
                                                                      {% endfor %}

                                                            </div>
                                                  </div>
                                        </div>
                                        <style>
                                                  .scrollbar-cover{
                                                            background-color: white; 
                                                            border: 1px solid #f0f0f0; 
                                                  }
                                                  .scrollbar-outer{
                                                            /*background-color: #f8f8f8;*/ 
                                                            /* background-color: white;  */
                                                            /* border: 1px solid #f0f0f0;  */
                                                  }
                                                  .scrollbar{
                                                            border: 1px solid #fbfbfb; 
                                                            overflow-x: auto;
                                                            padding: 2px 10px;
                                                  }
                                                  .scrollbar-inner{
                                                            /*background-color: #f8f8f8;*/ 
                                                            padding: 5px 20px; 
                                                            display: flex;  
                                                            width: max-content;
                                                  }
                                                  .scrollbar::-webkit-scrollbar{
                                                            width: 0;
                                                            height: 0;
                                                  }
                                                  .scrollbar-box{
                                                            padding: 2px;
                                                            /* margin: 0 5px;  */
                                                            margin: 0 2px; 
                                                            width: fit-content; 
                                                            border-radius: 25px; 
                                                            font-size: smaller; 
                                                            background-color: white; 
                                                            background-color: #fdfdfd; 
                                                            border: 1px solid #f8f8f8; 
                                                  }
                                                  .scrollbar-link{
                                                            border-radius: 25px; 
                                                            padding: 5px 10px; 
                                                            color: black; 
                                                            text-decoration: auto;
                                                  }
                                                  .scrollbar-link:hover{
                                                            color: white;
                                                            background-color: black;
                                                  }
                                                  .scrollbar-link.active{
                                                            color: white;
                                                            background-color: black;
                                                  }
                                        </style>
                              </div>
                              
                    </div>

                    
                    <div class="col-md-9 edge " style="background-color: white; padding: 0;">
                              <div class="row" style="padding: 18px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white; padding: 40px;">
                                        <!-- <div class="row" style="margin: 0; padding: 0;"> -->
                    
                                                  <!-- <div class="col-sm-12"> -->
                                                            <!-- <div class="row"> -->

                                                                      <div class="content">
                                                                                
                                                                                <h2>{{Articals.slug}}</h2>
                                                                                <span>  {{Articals.slug}}  </span>


                                                                      </div>
                                                                      
                                                            <!-- </div> -->
                                                  <!-- </div> -->
                                                  
                    
                                        <!-- </div> -->
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>

                    <div class="col-md-3 edge " style="background-color: #f8f8f8; background-color: #fbfbfb;">
                              <div class="articals-right" style="padding: 25px 10px;">



                                        <div class="btn-toolbar m-2" role="toolbar" aria-label="Toolbar with button groups" style="
                                        background-color: rebeccapurple;
                                        color: white;
                                        padding: 25px;
                                        border-radius: 5px;
                                        justify-content: center;
                                        ">
                                                  <h2 style="
                                                            font-weight: bold;
                                                            border-bottom: 2px solid lightgray;
                                                            padding: 2px 100px;
                                                            margin-bottom: 25px;
                                                            "> 
                                                            Tag's 
                                                  </h2>
                                                  <hr>
                                                  <br>
                                                  <div class="btn-group m-1" role="group" aria-label="First group">
                                                    <a href="/articals/write/?tag=h1" class="btn btn-light">h1</a>
                                                    <a href="/articals/write/?tag=h2" class="btn btn-light">h2</a>
                                                    <a href="/articals/write/?tag=h3" class="btn btn-light">h3</a>
                                                    <a href="/articals/write/?tag=h4" class="btn btn-light">h4</a>
                                                    <a href="/articals/write/?tag=h5" class="btn btn-light">h5</a>
                                                    <a href="/articals/write/?tag=h6" class="btn btn-light">h6</a>
                                                  </div>
                                                  <div class="btn-group m-1" role="group" aria-label="Second group">
                                                    <a href="/articals/write/?tag=span" class="btn btn-light">span</a>
                                                  </div>
                                                  <div class="btn-group m-1" role="group" aria-label="Second group">
                                                    <a href="/articals/write/?tag=p" class="btn btn-light">p</a>
                                                  </div>
                                                  <div class="btn-group m-1" role="group" aria-label="Second group">
                                                    <a href="/articals/write/?tag=a" class="btn btn-light">a</a>
                                                  </div>
                                        </div>

                                        



                              <div class="btn-toolbar m-2" role="toolbar" aria-label="Toolbar with button groups" style="
                                        background-color: rebeccapurple;
                                        color: white;
                                        padding: 25px;
                                        border-radius: 5px;
                                        justify-content: center;
                                        ">
                                                  <h2 style="
                                                            font-weight: bold;
                                                            border-bottom: 2px solid lightgray;
                                                            padding: 2px 70px;
                                                            margin-bottom: 25px;
                                                            ">Feature's</h2>
                                                  <hr>
                                                  <br>
                                                  <div class="btn-group m-1" role="group" aria-label="First group">
                                                    <a href="#" class="btn btn-dark">Table</a>
                                                    <a href="/articals/write/?feature=table&amp;inputs=5*5" class="btn btn-light">5*5</a>
                                                    <a href="/articals/write/?feature=table&amp;inputs=5*10" class="btn btn-light">5*10</a>
                                                    <a href="/articals/write/?feature=table&amp;inputs=10*5" class="btn btn-light">10*5</a>
                                                    <a href="/articals/write/?feature=table&amp;inputs=coustom" class="btn btn-light">Coustom</a>
                                                    
                                                  </div>
                                                  
                                                  
                                                  
                                        </div></div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>
                    
                    
          </div>

</div>





{% endblock %}




