 
{% extends '_master.html' %}




{% block tcontent %}
Write1@Articals | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}






<!-- <div class="col-md-12" style="margin: 0; padding: 0;"></div> -->

<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    
                    
                    

                    {% include 'thearticals/client/scrollbar.html' %} 
                    




                    
                    
                    <div class="col-md-9 edge " style="background-color: white; padding: 0;">
                              <div class="row" style="padding: 18px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white; padding: 40px;">
                                        <!-- <div class="row" style="margin: 0; padding: 0;"> -->
                    
                                                  <!-- <div class="col-sm-12"> -->
                                                            <!-- <div class="row"> -->

                                                                      <div class="content">
                                                                                
                                                                                <div class="row">
                                                                                          <div class="col-sm-12" style="margin: 35px 0;">
                                                                                                    <div class="row">
                                                                                                              
                                                            
                                                                                                              <div class="col-sm-1">
                                                                                                              </div>
                                                                                                              <!-- <div class="col-sm-6" style="text-align: center;"> -->
                                                                                                              <div class="col-sm-10" style="">
                                                                                                                        <div style="padding: 25px; padding-bottom: 50px;">
                                                                                                                                  <h1 style="font-weight: bold;"> Write Artical's </h1>
                                                                                                                                  <h6>Give us a full details about your new artical.</h6>
                                                                                                                        </div>
                                                                                                                        <form class="row" method="POST" action="/articals/write/" style="margin: 0;">
                                                                                                                            <input type="hidden" name="csrfmiddlewaretoken" value="vEsSQyYS4x6jIISLnm0oY0l3w0v51KLwmsg2w5sfrsVANOefGjHxZ5WcvrVhiQ8N">
                                                                                                                                  <div class="row">
                                                                                                                                            <div class="col-12">
                                                                                                                                                      <div class="row" style="margin: 0;">
                                                                                                                                                                <div class="col-12 g-2">
                                                                                                                                                                          <div class="row">
                                                                                                                                                                                    <div class="col-12">
                                                                                                                                                                                              <input type="text" id="title" name="user" class="form-control" value="" placeholder="TITLE" autofocus required>
                                                                                                                                                                                    </div>
                                                                                                                                                                          </div>
                                                                                                                                                                </div>
                                                                                                                                                                <div class="col-12 g-2">
                                                                                                                                                                          <div class="row">
                                                                                                                                                                                    <div class="col-12">
                                                                                                                                                                                              <label class="visually-hidden" for="skill">Preference</label>
                                                                                                                                                                                              <select class="form-select" name="skill" id="skill" onfocus='this.size=6;' onblur='this.size=1;' onchange='this.size=1; this.blur();' required>
                                                                                                                                                                                                        <option value="">Choose... {{values.skill}}</option>
                                                                                                                                                                                                        {% for object in skills %}
                                                                                                                                                                                                                  <option value="{{object.id}}" >{{object.string}}</option>
                                                                                                                                                                                                        {% endfor %}
                                                                                                                                                                                              </select>
                                                                                                                                                                                              <!-- <textarea class="form-select" id="discription" name="discription" placeholder="Enter Discription" rows="2" spellcheck="false"></textarea> -->
                                                                                                                                                                                    </div>
                                                                                                                                                                          </div>
                                                                                                                                                                </div>
                                                                                                                                                                <div class="col-12 g-2">
                                                                                                                                                                          <div class="row">
                                                                                                                                                                                    <div class="col-8">
                                                                                                                                                                                              <textarea class="form-select" id="discription" name="discription" placeholder="Write Discriptions" rows="2" spellcheck="false"></textarea>
                                                                                                                                                                                    </div>
                                                                                                                                                                                    <div class="col-4" style="padding-left: 0;">
                                                                                                                                                                                              <input class="btn btn-light d-grid gap-2 col-12 mx-auto g-5" type="submit" style="font-weight: bold;/* background-color: rebeccapurple; */height: 100%;font-size: large;color: rebeccapurple;" placeholder="Log In"> 
                                                                                                                                                                                    </div>
                                                                                                                                                                          </div>
                                                                                                                                                                </div>
                                                                                                                                                      </div>
                                                                                                                                            </div>

                                                            
                                                                                                                                            <!-- important -->
                                                                                                                                            <input type="hidden" name="next" value="">
                                                                                                                                            
                                                                                                                                  </div>
                                                                                                                        </form>
                                                                                                              </div>
                                                                                                              <div class="col-sm-1">
                                                                                                              </div>
                                                                                                    </div>
                                                                                          </div>
                                                                                </div>

                                                                      </div>
                                                                      
                                                            <!-- </div> -->
                                                  <!-- </div> -->
                                                  
                    
                                        <!-- </div> -->
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>

                    
                    
                    

                    {% include 'thearticals/client/articals-add-options.html' %} 
                    




                    
                    
          </div>

</div>





{% endblock %}




