 
{% extends '_master.html' %}




{% block tcontent %}
Show@Articals | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block csscontent %}

<link rel="stylesheet" href="/_static/theArticals/css/content.css">

{% endblock %}




{% block childcontent %}






<!-- <div class="col-md-12" style="margin: 0; padding: 0;"></div> -->

<div class="edge " style="background-color: white; margin: 0; padding: 0;">

          <div class="row" style="margin: 0; padding: 0; /*padding-top: 12px;*/ background-color: #f8f8f8;background-color: #fdfdfd;">


                    
                    
                    

                    {% include 'thearticals/client/scrollbar.html' %} 
                    




                    
                    <div class="col-md-9 edge " style="background-color: white; padding: 0;">
                         

                              <div class="row" style="background-color: #f8f8f8;background-color: #fcfcfc;background-color: white; padding: 75px 50px;">
                                        <!-- <div class="row" style="margin: 0; padding: 0;"> -->
                                                  <!-- <div class="col-sm-12"> -->
                                                            <!-- <div class="row"> -->
                                                                      <div class="content" style="font-family: math;">
                                                                                



                                                                                <div class="head">
                                                                                          <h2 style="margin-bottom: 0; font-weight: bold;">{{ Articals.Content.title }}</h2>
                                                                                          <span class="discription">{{ Articals.Content.USER.FullName }} | {{ Articals.Content.joiningdate }} | {{ Articals.Content.discription }}</span>
                                                                                          <!-- <br> -->
                                                                                          <!-- <span class="hashtags">#django #djangorestframework #python #fixerror</span> -->
                                                                                </div>

                                                                                <hr>

                                                                                <div class="mid" style="padding: 25px 0;">

                                                                                          {{ Articals.Content.content | safe }}

                                                                                </div>

                                                                                <hr>
                                                                                
                                                                                <div class="bottom" style="display: flex;align-items: stretch !important;justify-content: space-between !important; /*color: rebeccapurple;*/ font-size: large; padding: 0 25px;">
                                                                                          
                                                                                          <div>
                                                                                                    <i class="fa-solid fa-eye"></i>
                                                                                                    <!-- <i class="fa-regular fa-eye"></i> -->
                                                                                                    1029 Views
                                                                                          </div> 
                                                                                          <!-- │ -->
                                                                                          <div>
                                                                                                    <!-- <i class="fa-solid fa-heart"></i> -->
                                                                                                    <i class="fa-solid fa-thumbs-up"></i>  
                                                                                                    <!-- <i class="fa-regular fa-thumbs-up"></i>   -->
                                                                                                    219 Likes
                                                                                          </div> 
                                                                                          <!-- │ -->
                                                                                          <div>
                                                                                                    <i class="fa-solid fa-comment"></i>   
                                                                                                    <!-- <i class="fa-regular fa-comments"></i> -->
                                                                                                    <!-- <i class="fa-solid fa-comments"></i> -->
                                                                                                    28 Comments
                                                                                          </div> 
                                                                                          <!-- │ -->
                                                                                          <div>
                                                                                                    <i class="fa-solid fa-share"></i>
                                                                                                    <!-- <i class="fa-solid fa-share-nodes"></i> -->
                                                                                                    64 Share
                                                                                          </div> 
                                                                                          <!-- │ -->
                                                                                          <div>
                                                                                                    <i class="fa-solid fa-bug"></i>
                                                                                                    13 Report
                                                                                          </div> 
                                                                                          <!-- │ -->
                                                                                          <div>
                                                                                                    <i class="fa-solid fa-flag"></i>
                                                                                                    <!-- <i class="fa-regular fa-flag"></i> -->
                                                                                                    94 Suggestion
                                                                                          </div> 
                                                                                          <!-- │ -->
                                                                                          <div>
                                                                                                    <i class="fa-solid fa-check-to-slot"></i>
                                                                                                    7 Verify
                                                                                          </div> 
                                                                                          <style>
                                                                                                    .fa-regular{
                                                                                                              margin-right: 5px;
                                                                                                    }
                                                                                                    .fa-solid{
                                                                                                              margin-right: 5px;
                                                                                                    }
                                                                                          </style>
                                                                                </div>


                                                                      </div>
                                                                      
                                                            <!-- </div> -->
                                                  <!-- </div> -->
                                        <!-- </div> -->
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>

                    


                    

                    
                    <div class="col-md-3 edge " style="background-color: #f8f8f8; background-color: #fbfbfb;">
                              <div class="articals-right" style="padding: 25px 10px;">
                                                                                                    <div class="explore" style="font-size: 38px; text-align: center; color: #8d8d8d;">
                                                                                                              Recent Articals
                                                                                                              <hr class="my-3">
                                                                                                    </div>
                                                                                                    <div class="recommendation" style="padding: 20px 10px;">
                                                                                                              <div style="padding: 12px 0;">
                                                                                                                        <ul class="list-group list-group-flush">

                                                                                                                                  {% for object in Articals.RecentArticalsList %}
                                                                                                                                  <li class="list-group-item sidebar-right">
                                                                                                                                            <a class="side-keys row" href="/articals/open/{{object.slug}}/" class="row" style="align-items: center; font-weight: normal;">
                                                                                                                                                      <spem>
                                                                                                                                                                {{object.title}} 
                                                                                                                                                      </spem>
                                                                                                                                            </a>
                                                                                                                                  </li>
                                                                                                                                  {% endfor %}
                                                                                
                                                                                                                        </ul>
                                                                                                                                  <style>
                                                                                                                                            .list-group-item{
                                                                                                                                                      background-color: #fdfdfd;
                                                                                                                                                      padding: 5px 10px;
                                                                                                                                                      border: 1px solid #0000000a;
                                                                                                                                            }
                                                                                                                                            .side-keys{
                                                                                                                                                      /* padding: 0.5rem 1rem; */
                                                                                                                                                      text-decoration: auto;
                                                                                                                                                      color: unset;
                                                                                                                                                      font-weight: bold;
                                                                                                                                                      font-size: larger;
                                                                                                                                                      font-size: 16px;
                                                                                                                                                      padding: 5px;
                                                                                                                                                      align-items: center;
                                                                                                                                            }
                                                                                                                                            .side-keys:hover{
                                                                                                                                                      background-color: #f8f8f8; 
                                                                                                                                                      color: rebeccapurple;
                                                                                                                                                      border-radius: 50px; 
                                                                                                                                            }
                                                                                                                                            .side-keys.active{
                                                                                                                                                      background-color: rebeccapurple; 
                                                                                                                                                      color: #f8f8f8;
                                                                                                                                                      border-radius: 50px; 
                                                                                                                                            }
                                                                                                                                            .sidebar-right{
                                                                                                                                                      /* background-color: #fbfbfb; */
                                                                                                                                                      background-color: #fbfbfb;
                                                                                                                                                      color: #8d8d8d;
                                                                                                                                                      padding: 5px 20px;
                                                                                                                                                      padding: 0 5px;
                                                                                                                                            }
                                                                                                                                            .sidebar-right.disabled{
                                                                                                                                                      background-color: #fafafa;
                                                                                                                                                      color: #d8d8d8;
                                                                                                                                            }
                                                                                                                                  </style>
                                                                                                              </div>
                                                                                                    </div>
                              </div>
                              <div style="margin: 100px 0;">
                              </div>
                    </div>
                    




                    
                    
          </div>

</div>





{% endblock %}





		
{% block scriptcontent %}
		


{% endblock %}


