 
{% extends '_master.html' %}




{% block tcontent %}
Most asked Q's | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}



{% block childcontent %}







<div class="edge " style="background-color: #f8f8f8;background-color: #fdfdfd;">
	<div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;">
		<div class="row">
			<div class="col-sm-12" style="margin: 50px 0;">
				<div class="row">
					

					<div class="col-sm-2">
					</div>
					<!-- <div class="col-sm-6" style="text-align: center;"> -->
					<div class="col-sm-8" style="">
						<h1 style="font-weight: bold; text-align: center;"> Most asked Q's </h1>
						<h6 style="text-decoration: line-through; text-align: center;">Here is a list of most asked questions, check it.</h6>
						<!-- <br><br> -->
                                                            
						<!-- <form class="row row-cols-lg-auto g-3 align-items-center"  method="POST" action="{{request.path}}"> -->
						<!-- {% csrf_token %} -->
							<div class="row">
								<div class="col-12 g-5">
									<div class="row">
										<hr class="my-4">
										<div class="col-12 g-2" style="padding: 20px;">
                                                                                                              <h5 style="font-weight: bold;">
                                                                                                                        Q.1 :    Which type of content we expect from you in your website?
                                                                                                              </h5>
                                                                                                              <spen>
                                                                                                                        I'm providing you a best programming content. There is almost 1000+ articals for you which covers 40+ subjects/topics. 
                                                                                                                        Here is notes about programming, frameworks, dsa problems, patterns & system designs and other study materials.
                                                                                                              </spen>
										</div>
										<hr class="my-4">
										<div class="col-12 g-2" style="padding: 20px;">
                                                                                                              <h5 style="font-weight: bold;">
                                                                                                                        Q.2 :  Can you tell about articals topics?
                                                                                                              </h5>
                                                                                                              <spen>Yes, why not ?!! checkout below...</spen>
                                                                                                              <ul>
                                                                                                                        <li>C, C++, Python. [ Java, Javascript, ( Go, Rust ) ]</li>
                                                                                                                        <li>Django, Django Rest Framework. [ ReactJS, ExpressJS, NodeJS, AngularJS ]</li>
                                                                                                                        <li>SQLite. [ MySQL, MongoDB, AWS, Google Cloud ]</li>
                                                                                                                        <li>Rest APIs, ORM, User Authentication and Autherization, OTP Varification</li>
                                                                                                                        <li>HTML, CSS, Bootstrap, jQuery, XML, JSON, Jinja, Git & GitHub.</li>
                                                                                                                        <li>Data Structures and Algorithms, Problem Solving.</li>
                                                                                                                        <li>Patterns Design and Systems Designs - LLD, HLD.</li>
                                                                                                                        <li>SDLC (Software Development Life Cycle), HTTP, Website SEOs.</li>
                                                                                                                        <li>and many more topics and subtopics are we cover on that website, so check it out...</li>
                                                                                                              </ul>
										</div>
										<hr class="my-4">
										<div class="col-12 g-2" style="padding: 20px;">
                                                                                                              <h5 style="font-weight: bold;">
                                                                                                                        Q.3 :  Which roles i accept for praperations?
                                                                                                              </h5>
                                                                                                              <spen> Almost every roles which are in the IT Industry, you are able to start praperation with this web-site.</spen>
											<br>
                                                                                                              <spen> I give you some special roles for praperations in below.....</spen>
                                                                                                              <ul>
                                                                                                                        <li>Software Engineer, Software Developer, Software Development Engineer ( SDE ).</li>
                                                                                                                        <li>Full-Stack (Web) Developer, Backend (Web) Developer, Frontend (Web) Developer</li>
                                                                                                                        <li>Data Analyst, DSA Engineer, Design Engineer, Database Specilization.</li>
                                                                                                                        <li>Cloud Engineer, AWS Engineer, Google Cloud Engineer.</li>
                                                                                                                        <li>Database Engineer, MySQL Engineer, MongoDB Engineer.</li>
                                                                                                                        <li>React Developer, MERN Stack Developer, NodeJS Web Developer, .Net Developer.</li>
                                                                                                              </ul>
										</div>
										<hr class="my-4">
									</div>
								</div>
							</div>
						<!-- </form> -->
					</div>
					<div class="col-sm-2">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin: 100px 0;">
	</div>
</div>






{% endblock %}




