{% extends '_master.html' %}




{% block tcontent %}
Default USER | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}



{% block childcontent %}







<div class="edge " style="background-color: #f8f8f8;background-color: #fdfdfd; padding: 0; margin: 25px 10%;">
          <div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;">
                    <div class="row">
                              <div class="col-sm-12" style="margin: 25px 0;">
                                        <div class="row">
                                                  <!-- <div class="col-sm-6" style="text-align: center;"> -->
                                                  <div class="col-sm-12" style="">
                                                            <!-- <h1 style="font-weight: bold; text-align: center;"> All Users List </h1> -->
                                                            
                                                            
                                                            <!-- <br><br> -->

                                                            <!-- <form class="row row-cols-lg-auto g-3 align-items-center"  method="POST" action="/security/default-user/"> -->
                                                            <!-- <input type="hidden" name="csrfmiddlewaretoken" value="Ya3MSFHl2thXbqwrvgP0gtIGD34BTQnPviIUY2M0EOM3lArr32nTJVzZAbhXwMHB"> -->
                                                            <!-- <div class="row">
                                                                      <div class="col-8">
                                                                                <div class="row">
                                                                                          <div class="col-12" style="height: 500px; padding: 0 25px 0 50px;">
                                                                                                    <div class="bd-example" style="border: solid #f0f0f0;border-width: 1px;border-radius: 15px 15px 5px 5px;height: 450px;background-color: black;">
                                                                                                    </div>
                                                                                                    <div class="bd-example" style="border: solid #f5f5f5;border-width: 1px;border-radius: 200px 200px 20px 20px;margin: 0px 250px;height: 50px;background-color: black;">
                                                                                                    </div>
                                                                                          </div>
                                                                                </div>
                                                                      </div>
                                                                      <div class="col-4">
                                                                                <div class="row" style="height: 500px; padding: 0 50px 0 25px;">
                                                                                          <div class="bd-example" style="border: solid #f0f0f0;border-width: 1px;border-radius: 15px;background-color: black;">
                                                                                          </div>
                                                                                </div>
                                                                      </div>
                                                            </div> -->


                                                            <div class="row">
                                                                      <div class="col-3">
    
                                                                                <div class="col-12" style="/* height: 500px; */padding: 0 50px 0 0;">
                                                                                          <div class="bd-example" style="border: solid #f0f0f0;border-width: 1px;border-radius: 25px;background-color: black;padding: 8px 5px 15px 5px;margin: 0;height: 495px;">
                                                                                                    <div class="bd-example" style="border: solid #4d4d4d;border-width: 2px;border-radius: 15px;background-color: black;height: 472px;/* background-color: #fbfbfb; */">
                                                                                                              <img src="/_static/_personal/images/screenshot-mobile.png" alt="pc" style="max-width: -webkit-fill-available;border-radius: 15px;">
                                                                                                    </div>
                                                                                          </div>
                                                                                </div>
        
                                                                      </div>
                                                                      <div class="col-2">
                                                                                <div class="col-12" style="/* height: 500px; */padding: 0;">
                                                                                          <div class="bd-example" style="/* border: solid #fdfdfd; */border-width: 5px;border-radius: 100px;/* background-color: #fdfdfd; */padding: 100px 10px;margin: 0;height: 495px;text-align: center;color: #006688;">
                                                                                                    
                                                                                                    <h5 style="text-decoration: underline;">
                                                                                                              <b>@DefaultDetails</b> 
                                                                                                    </h5>
                                                                                                    <span>I am giving you a user's default details.</span>

                                                                                                    <hr class="my-4">
                                                                                                    <!-- <div style="color: #0088bb;"> -->
                                                                                                              <h6 style="margin: 2px; text-decoration: underline;"> 
                                                                                                                        <b>EMAIL</b> 
                                                                                                              </h6>
                                                                                                              <b>theshivashu04@...</b>
                                                                                                              <hr class="my-4">

                                                                                                              <h6 style="margin: 2px; text-decoration: underline;"> 
                                                                                                                        <b>MOBILE</b> 
                                                                                                              </h6>
                                                                                                              <b>7898565000</b>
                                                                                                              <hr class="my-4">
                                                                                                    <!-- </div> -->

                                                                                          </div>
                                                                                </div>
                                                                      </div>
                                                                      <div class="col-7">
                                                                                <div class="row">
                                                                                          <div class="col-12" style="/* height: 600px; */padding: 0 0 0 50px;">
                                                                                                    <div class="bd-example" style="border: solid #f0f0f0;border-width: 1px;border-radius: 15px 15px 5px 5px;background-color: #fdfdfd;padding: 18px 8px 50px 8px;background-color: black;">
                                                                                                              <div class="bd-example" style="border: solid #4d4d4d;border-width: 2px;border-radius: 2px;height: 342px;background-color: black;">
                                                                                                                        <!-- <img src="/_static/_personal/images/screenshot-pc.png" alt="pc" style="max-width: -webkit-fill-available;border-radius: 2px;"> -->
                                                                                                                        <img src="/_static/_personal/images/screenshot-pc-light.png" alt="pc" style="max-width: -webkit-fill-available;border-radius: 2px;">
                                                                                                                        <!-- <img src="/_static/_personal/images/screenshot-pc-dark.png" alt="pc" style="max-width: -webkit-fill-available;border-radius: 2px;"> -->
                                                                                                                        <!-- <img src="/_static/_personal/images/screenshot-pc-google-home.png" alt="pc" style="max-width: -webkit-fill-available;border-radius: 2px;"> -->
                                                                                                              </div>
                                                                                                    </div>
                                                                                                    <!-- <div class="bd-example" style="border: solid #fdfdfd;border-width: 0px;border-radius: 25px 25px 5px 5px;margin: 0px 250px;height: 60px;background-color: #fdfdfd;background-color: black;color: #2d2d2d;text-align: center;">
                                                                                                    </div> -->
                                                                                                    <div class="bd-example" style="border: solid #fdfdfd;border-width: 0;border-radius: 10px 10px 0 0;margin: 0px 250px;height: 60px;background-color: #fdfdfd;background-color: black;background-color: black;color: #2d2d2d;text-align: center;">
                                                                                                              <!-- shivashu -->
                                                                                                    </div><div class="bd-example" style="border: solid #fdfdfd;border-width: 1px;border-radius: 30px 30px 0 0;margin: 0px 100px;height: 22px;background-color: #fdfdfd;background-color: black;">
                                                                                                    </div>
                                                                                          </div>
                                                                                </div>
                                                                      </div>
                                                            </div>


                                                            <!-- </form> -->
                                                  </div>

                                        </div>
                              </div>
                    </div>
          </div>
          <div style="margin: 100px 0;">
          </div>
</div>






{% endblock %}