 
{% extends '_master.html' %}




{% block tcontent %}
Log In | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}




{% block childcontent %}







<div class="edge " style="background-color: #f8f8f8;background-color: #fdfdfd;">
	<div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;">
		<div class="row">
			<div class="col-sm-12" style="margin: 50px 0;">
				<div class="row">
					

					<div class="col-sm-3">
					</div>
					<!-- <div class="col-sm-6" style="text-align: center;"> -->
					<div class="col-sm-6" style="">
						<h1 style="font-weight: bold;"> LOG IN </h1>
						<h6>To explore this site, almost must to login first.</h6>
						<br><br>


						<form class="row row-cols-lg-auto g-3 align-items-center"  method="POST" action="{{request.path}}">
                        				{% csrf_token %}
							<div class="row">
								<div class="col-12">
									<div class="row">
										<div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="font-weight: bold;"> Username or Email :-</label>
												</div>
												<div class="col-5">
													<input type="text" id="user" name="user" class="form-control" value="{{values.user}}" placeholder="Username/Email" autofocus required>
												</div>
												<div class="col-3">
													<label class="visually-hidden" for="by">Preference</label>
													<select class="form-select" name="by" id="by">
														<option value="">Choose... {{values.by}}</option>
														<option value="email" {% if values.by == 'email' %} selected {% endif %} >Email</option>
														<option value="username"  {% if values.by == 'username' %} selected {% endif %} >Username</option>
													</select>
												</div>
											</div>
										</div>
										<!-- <div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="font-weight: bold;"> Password</label>
												</div>
												<div class="col-8">
													<input type="password" id="password" class="form-control" value="" placeholder="**********">
												</div>
											</div>
										</div> -->
										<div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="font-weight: bold;"> Enter Password :-</label>
												</div>
												<div class="col-8">
													<input type="password" id="password" name="password" class="form-control" value="{{values.password}}" placeholder="**********" required>
													<div id="passwordHelpBlock" class="form-text">
														Your password must be 8-20 characters long, contain letters and numbers, 
														and must not contain spaces, special characters, or emoji.
													</div>
												</div>
												<!-- <div class="col-auto">
													<span id="passwordHelpInline" class="form-text">
													  Must be 8-20 characters long.
													</span>
													</div> -->
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="col-12 g-5">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="check" id="check" {% if values.check %} checked {% endif %}>
										<!-- <input class="form-check-input" type="checkbox" name="check" id="check" required> -->
										<label class="form-check-label" for="check">
										Remember me
										</label>
									</div>
								</div>

								<!-- important -->
								<input type='hidden' name="next" value="{{ request.GET.next }}">
								
								<div class="d-grid gap-2 col-12 mx-auto g-2">
									<input class="btn btn-primary" type="submit" style="font-weight: bold;" placeholder="Log In"> 
									<!-- <button class="btn btn-primary" type="button" style="font-weight: bold;">Log In</button> -->
									<div class="col-12" style="text-align: center;">
										<a href="/security/reset-password/">Forget your password ??</a>
									</div>
									<div class="col-12" style="text-align: center; margin-top: -8px;">
										If you not a member??  
										<a href="/security/signup/" style="font-weight: bold;">SignUp</a>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin: 100px 0;">
	</div>
</div>






{% endblock %}




