 
{% extends '_master.html' %}




{% block tcontent %}
Reset Password | OpenAssistant
{% endblock %}



{% block headerplusplus %}

{% include '_header.html' %}

{% endblock %}






{% block childcontent %}








<div class="edge " style="background-color: #f8f8f8;background-color: #fdfdfd;">
	<div style="padding: 25px;background-color: #f8f8f8;background-color: #fcfcfc;background-color: white;/* padding: 50px 25px; */border-radius: 10px;">
		<div class="row">
			<div class="col-sm-12" style="margin: 50px 0;">
				<div class="row">
					<div class="col-sm-3">
					</div>
					<!-- <div class="col-sm-6" style="text-align: center;"> -->
                    <div class="col-sm-6" style="">
						<h1 style="font-weight: bold;"> Reset Password </h1>
						<h6> To explore this site, almost must to login first. </h6>
						<br><br>
						<form class="row row-cols-lg-auto g-3 align-items-center"  method="POST" action="{{request.path}}">
						{% csrf_token %}
							<div class="row">
								<div class="col-12">
									<div class="row">										
										
										{% if track >= 1 %}
										<div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="font-weight: bold;"> Varification by  </label>
												</div>
												<div class="col-5">
													<input type="text" id="emailmobile" name="emailmobile" class="form-control" value="{{emailmobile}}" placeholder="Email/Mobile" required {% if 2 <= track %} readonly {% endif %} >
												</div>
												<div class="col-3">
													<label class="visually-hidden" for="by">Preference</label>
													<!-- <select class="form-select" name="by" id="by" value="by"  required {% if 2 <= track %} style="pointer-events: none; background-color: #e9ecef; opacity: 1;" {% endif %} > -->
													<!-- <select class="form-select readonly" name="by" id="by" value="by"  required {% if 2 <= track %} readonly {% endif %} > -->
													<select class="form-select  {% if 2 <= track %} readonly {% endif %} " name="by" id="by" value="by"  required {% if 2 <= track %} style="pointer-events: none; background-color: #e9ecef; opacity: 1;" {% endif %} >
														<option value="">Choose...</option>
														<option value="email" {% if by == 'email' %} selected {% endif %} >Email</option>
														<option value="mobile" {% if by == 'mobile' %} selected {% endif %}>Mobile No.</option>
													</select>
													<style>
														/* we are able to use readonly attribute in input text fields, but in dropdown its not working, so we use this way */
														.readonly{
															pointer-events: none; 
															background-color: #e9ecef; 
															opacity: 1;
														}
													</style>
												</div>
											</div>
										</div>
										<div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="
														font-weight: bold;
														"> Username </label>
												</div>
												<div class="col-8">
													<input type="text" id="username" name="username" value="{{username}}" class="form-control" placeholder="theshivashu07" required {% if 2 <= track %} readonly {% endif %} >
												</div>
											</div>
										</div>
										{% endif %}
										
										{% if track >= 2 %}
										<div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="font-weight: bold;">Enter OTP</label>
												</div>
												<div class="col-8">
													<input type="text" id="otp" name="otp" value="{{otp}}" class="form-control" placeholder="Enter your OTP" required {% if 3 <= track %} readonly {% endif %} >
													<!-- <input type="text" id="text" class="form-control disabled" value="" placeholder="Enter your OTP" disabled=""> -->
												</div>
											</div>
										</div>
										{% endif %}

										<!-- <hr class="my-5"> -->

										{% if track >= 3 %}
										<div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="font-weight: bold;">New Password</label>
												</div>
												<div class="col-8">
													<input type="password" id="password" name="password" class="form-control" placeholder="**********" required  >
												</div>
											</div>
										</div>
										<div class="col-12 g-2">
											<div class="row">
												<div class="col-4">
													<label class="col-form-label" style="font-weight: bold;"> New Password Again</label>
												</div>
												<div class="col-8">
													<input type="password" id="passwordagain" name="passwordagain" class="form-control" placeholder="**********" required>
													<div id="passwordHelpBlock" class="form-text">
														Your password must be 8-20 characters long, contain letters and numbers, 
														and must not contain spaces, special characters, or emoji.
													</div>
												</div>
											</div>
										</div>
										{% endif %}

									</div>
								</div>

								<br>
								<div class="col-12 g-5">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="check" id="check" {% if checked %} checked {% endif %}>
										<!-- <input class="form-check-input" type="checkbox" name="check" id="check" required> -->
										<label class="form-check-label" for="check">
										Remember me
										</label>
									</div>
								</div>

								<input type="hidden" id="track" name="track" value="{{track |default:1}}" >

								<!-- <div class="d-grid gap-2 col-12 mx-auto m-5"> -->
								<div class="d-grid gap-2 col-12 mx-auto g-2">
									<input class="btn btn-primary m-2" type="submit" style="font-weight: bold;" value="Submit"> 
									<!-- <button class="btn btn-primary m-2" type="button" style="font-weight: bold;">Log In</button> -->
									<div class="col-12" style="text-align: center;">
										If you not a member?? Then visit <a href="/security/signup/" style="font-weight: bold;">SignUp</a>
									</div>
									<div class="col-12" style="text-align: center; margin-top: -8px;">
										If you remembered the password?? Go back to <a href="/security/login/" style="font-weight: bold;">LogIn</a>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin: 100px 0;">
	</div>
</div>


{% endblock %}







